[2014-03-11 16:49] nakamura-to opened #1 "Dao メソッドの戻り値にエンティティクラスを要素とする Optional 型を指定できることをドキュメントで示す"
こういう定義ができることを示したい。

[code]

[2014-03-11 16:53] nakamura-to opened #2 "SingletonConfig を指定されたクラスに private 以外のコンストラクタを持たせない"
注釈処理でチェックして本当にシングルトンであることを強制する

[2014-03-11 16:56] nakamura-to opened #3 "java.sql.Wrapper を実装する"
Doma が提供する JDBC のクラスから委譲先 のインスタンスを取得できるようにする。いざというときに JDBC ドライバ独自の機能にアクセスできるようにするのが目的。

[2014-03-12 22:36] #1 closed, assigned to nobody

[2014-03-15 22:59] #2 closed, assigned to nobody

[2014-03-15 22:59] #3 closed, assigned to nobody

[2014-03-29 08:44] nakamura-to opened #6 "Configの設定の一部が無視される"
`UnknownColumnHandler` と `TransactionManager` の設定が `RuntimeConfig` にコピーされていないためデフォルトのインスタンスが使われしまう。

[2014-03-29 12:29] #6 closed, assigned to nakamura-to

[2014-04-16 14:22] nakamura-to opened #12 "Entityのプロパティの型をbyte配列にすると注釈処理に失敗する"
配列を表す `TypeMirror` を `Element` に変換可能だと想定したコードが書かれている。実際には変換できない。

[2014-04-17 12:49] #12 closed, assigned to nakamura-to

[2014-04-23 13:57] nakamura-to opened #14 "SQLXMLに対応する"
https://twitter.com/ishizumi/status/457903711470116864

[2014-04-23 13:59] nakamura-to opened #15 "maxRows に指定した行数に達したことを検出可能にする"
https://twitter.com/ishizumi/status/458959659441741824

[2014-04-27 10:25] #14 closed, assigned to nakamura-to

[2014-05-01 16:06] nakamura-to opened #19 "LocalTransaction でセーブポイント削除時のログが間違っている"

[2014-05-01 16:06] nakamura-to opened #20 "LocalTransaction で指定したセーブポイント「以降」を削除すべき箇所で「以前」を削除している"

[2014-05-01 16:33] #19 closed, assigned to nakamura-to

[2014-05-01 16:33] #20 closed, assigned to nakamura-to

[2014-05-02 01:33] #15 closed, assigned to nakamura-to

[2014-05-09 02:48] nakamura-to opened #27 "SQL実行時にSQLファイルのパスがログに出力されない"
パスが表示されるべきところでnullが出力されてしまう。

[code]

[2014-05-09 13:52] #27 closed, assigned to nakamura-to

[2014-06-04 14:24] OdaShinsuke opened #33 "カラムリスト展開コメント で DOMA4257 エラー"
1件検索を行うメソッドの戻り値を Optional<ENTITY> にした場合に、
SQL ファイルでカラムリスト展開コメントを利用すると、DOMA4257 エラーが発生する。
再現コード

[code]

[code]

[2014-06-05 07:37] #33 closed, assigned to nakamura-to

[2014-06-06 23:52] nakamura-to opened #36 "Entity 更新後に OriginalStates へ変更が反映されない"
seasarorg/doma/issues/13 と同様の問題。

[2014-06-07 00:34] #36 closed, assigned to nakamura-to

[2014-06-07 00:45] nakamura-to opened #38 "List<Optional<Emp>> や List<Optional<Map<String, Object>>> を戻り値とする Dao メソッドは注釈処理でコンパイルエラーになるべき"
こんな感じの Dao はコンパイルエラーとしたい

[code]

[2014-06-07 01:44] #38 closed, assigned to nakamura-to

[2014-07-03 00:40] OdaShinsuke opened #42 "UnitOfWork の削除が ドキュメント changelog に反映されていない"
ver 2.0.0 で 削除された UnitOfWork が
https://github.com/domaframework/doma/blob/master/docs/sources/changelog.rst
トランザクションの項目に記載されています。

[2014-07-03 11:37] #42 closed, assigned to nobody

[2014-08-06 02:41] nakamura-to opened #43 "DomainConverterの第2型引数にbyte[]を指定するとコンパイルエラー"
以下のコードで注釈処理を実行するとコンパイルエラーとなる。

[code]

[2014-08-06 03:28] #43 closed, assigned to nobody

[2014-08-14 00:40] naokism opened #45 "SQLコメントでenumを利用した場合に、accessorMethodを参照するようにして欲しい"
SQLコメントでenumを利用した場合に、accessorMethodを参照するようにして欲しい。

[code]

上記のようなドメインクラスがある場合に、
SQLコメントでこのenumを指定した場合、accessorMethodを使って getValue() を呼んで欲しいです。
以下のようなイメージです。

[code]

以上、よろしくお願いします。

[2014-08-21 06:38] #45 closed, assigned to nobody

[2014-12-28 03:23] nakamura-to opened #51 "LocalTransactionManager#notSupported()が新規のトランザクションを作成する"
LocalTransactionManager#notSupported()はいかなる場合も新規にトランザクションを作成しないのが正しい

[2014-12-28 03:42] #51 closed, assigned to nakamura-to

[2015-02-18 11:39] OdaShinsuke opened #56 "Mssql2008Dialect の getName が ドキュメントと異なる値を返している"
ドキュメントでは "mssql" を返すように書かれていますが、実際には "mssql2008" を返しています。

ドキュメント
http://doma.readthedocs.org/ja/2.1.0/sql/?highlight=mssql#id7
ソース
https://github.com/domaframework/doma/blob/master/src/main/java/org/seasar/doma/jdbc/dialect/Mssql2008Dialect.java#l128

[2015-02-18 12:39] nakamura-to commented on #56
ご指摘ありがとうございます。
たしかに間違っていますね。
プログラムで"mssql"と"mssql2008" のどちらを返すべきか、ご意見ありますか？

現時点の私の考えでは、"mssql"を返すように修正しようと思っています。

[2015-02-18 23:15] OdaShinsuke commented on #56
SQL ファイルの切り替えに使われる値ですよね？
私も "mssql" で良いと思います。

[2015-02-19 12:33] nakamura-to commented on #56
はい、そうです。
では、"mssql"を返すように修正しようと思います。

[2015-02-21 06:53] naokism opened #57 "StringUtilのfromCamelCaseToSnakeCaseで、カラム名に数字が含まれている場合意図している結果にならない"
以下のパターンでは、「img1_file」となる事を期待しているが、「img1file」となる。
[code]
下記が 「false」となるため、うまく変換できていないようです。
[code]

Columnアノテーションのname指定で逃げれるので現状は問題ありません。

[2015-02-21 07:38] naokism commented on #57
Pull Requestしてみましたので Closeします。

[2015-02-21 07:38] #57 closed

[2015-03-06 22:11] #56 closed

[2015-03-09 11:46] OdaShinsuke opened #62 "SQL Server クエリヒントを使ったクエリが、ページング処理で正しく動かない問題"
SelectOptions#offset を指定した場合、例外が発生する。

以下サンプル

階層構造を持つテーブルに対し、再帰クエリにより階層順にデータを取得する。
その際、再帰の上限回数を指定するクエリヒントを利用している。
#### テーブル
Table_1

id | name | parent_id
----- | ----- | -----
1 | aaa | null
2 | bbb | 1
3 | ccc | 1
4 | ddd | 2
5 | eee | 3
6 | fff | 2
7 | ggg | 4

#### Dao
[code]
[code]
offset を指定しない場合は正しく動く。
[code]
しかし、offset を指定した場合には、例外が発生する。
[code]
Doma のログより発行された SQL を抜粋
[code]
以下の SQL になって欲

[2015-03-09 11:53] OdaShinsuke commented on #62
FOR 句を使って XML 形式で返す場合はさらに問題があります。
#### Dao

[code]

[code]
クエリの結果はこの様な 文字列 になります。
[code]
上記の問題を修正した後に、offset を指定すると実行されるクエリはこのような物になります。
[code]
しかし、実行結果に意図していない属性(doma_rownumber)が含まれてしまいます。
[code]
ただ FOR XML でのページング処理は、殆ど使われないような気がします。
ですのでこちらは対応しなくても問題無いように思います。

[2015-03-10 02:05] OdaShinsuke opened #63 "イミュータブルなエンティティを返す SELECT でフィールドに対応するカラムが存在しない場合、NullPointerException が発生する"
```ensureResultMapping=true``` にすると、ResultMappingException になりますが、false の場合は、_Employee#newEntity で NullPointerException が発生します。

再現コード
[code]
[code]
[code]

[2015-03-10 13:27] #63 closed

[2015-03-10 13:27] nakamura-to commented on #63
指摘ありがとうございます！

[2015-03-14 05:12] #62 closed

[2015-03-14 05:14] nakamura-to commented on #62
OPTION 句にのみ対応しました。

FOR 句とページングの組み合わせはレアケースとのことでしたので対応を見送りました。

[2015-04-23 03:27] drumsco opened #73 "PostgresDialect で @Table(quote=true), GenerationType.IDENTITY のEntityでID生成エラーが発生する"
# 内容

PostgreSQL を操作するために、 Entity に ``@Table(quote = true)`` を指定していて、 ``@Id @GeneratedValue(strategy = GenerationType.IDENTITY) Long id;`` なプロパティを定義している場合に、IDプロパティの生成に失敗する。

[code]

PostgreSQL で 自動採番を定義する際に ``SERIAL`` 型を指定している。この場合、 "table_name_column_seq" というシーケンスが生成されます。

``@Table(quote=true)`` が指定されていると、 ``PostgresDialect#getIdentitySelectSql(String, String)`` の ``qualifiedTableName`` へクオートされたテ

[2015-04-23 13:55] nakamura-to commented on #73
詳細な報告ありがとうございます。
次のバージョンで修正します。

[2015-04-25 06:07] #73 closed

[2015-05-28 13:29] naokism opened #77 "負荷時に [DOMA2015] [DOMA9001] Failed to get a message because of following error : java.util.MissingResourceException が出る"
すいません、負荷時に以下のエラーが出ました。
環境は以下となります。
java build 1.8.0_20-b26
Tomcat 8.0.11
doma 2.0.1
MySQL 5.5.40
です。
こちらの作りが良くないのか、doma側なのか分かればいいのですが・・・

[code]

S2SessionDaoImplの 77行目は以下のコードでした。
[code]

以上、お手数かけしますがよろしくお願いします。

[2015-05-28 13:32] naokism commented on #77
DB Connection数が足りないだけですかね・・・

[2015-05-28 22:37] nakamura-to commented on #77
メッセージの取得に失敗しているのはDomaの問題です。もし、正常に取得できると「java.sql.Connectionの取得に失敗しました。原因は次のものです。 ...」というメッセージで、`org.seasar.doma.jdbc.JdbcException`がスローされます。
しかし、 `JdbcException`がスローされる原因となるConnectionの取得の失敗については、アプリ側に責任があると言えます。

Domaがメッセージ取得に失敗する件は、次のバージョンで修正しようと思います。原因はまだよくわかっていませんが、デフォルトのClassLoaderでリソースバンドルをロードできないケースがあるのかもしれません。

[2015-05-29 00:42] naokism commented on #77
メッセージ取得に関して理解致しました。
Connection取得に関してはアプリ側の設定を見直します。

ありがとうございました。

[2015-05-29 00:42] #77 closed

[2015-05-29 07:11] OdaShinsuke opened #78 "SQL ファイルを使用する update が実行されない (Doma 2.3)"
2.2 から 2.3 にバージョンを上げたところ、第一引数が Entity では無い、SQL ファイルを利用する update が SKIP されるようになりました。

[code]

update のメソッドの第一引数が Entity のものは、「更新カラムリスト生成コメント」を使用しない場合でも実行されています。

[2015-05-29 14:50] nakamura-to commented on #78
報告ありがとうございます。
再現できました。

[2015-05-29 22:36] #78 closed

[2015-06-01 11:50] OdaShinsuke opened #82 "populate を使ったメソッドで DOMA4122 が出る‏"
Doma 2.3.1
ドキュメント通り populate を試してみましたが、
[code]
が出ます。こちらの環境の問題でしょうか？
ソース
[code]
[code]

[2015-06-01 12:09] nakamura-to commented on #82
報告ありがとうございます。
Domaの不具合ですね。
展開されるエンティティの変数が参照されないケースがあることを考慮できていませんでした。
一時的な回避策としては、SQLのset句でエンティティの変数を参照してください。

[code]

[2015-07-10 23:29] #82 closed

[2015-07-15 01:00] bufferings opened #85 "Version number spec is different from the document"
Hi,

There's a difference when the version = 0.
Document or implementation should be corrected.

The document says:
http://doma.readthedocs.org/ja/stable/query/insert/#id5

But actual implementation seems:
https://github.com/domaframework/doma/blob/8d03e94d713c6548c12c4c41aeb744ecf915d012/src/main/java/org/seasar/doma/jdbc/entity/VersionPropertyType.java#L118

[code]

Doma version1 has the same is

[2015-07-15 15:34] nakamura-to commented on #85
Thank you.

I will fix the document.

[2015-07-19 22:43] #85 closed

[2015-08-28 00:22] chibat opened #95 "埋め込み変数コメントの展開後にスペースを挿入しないで欲しい"
お世話になっております。
千葉です。

埋め込み変数コメントが展開された後にスペースが挿入されるようなのですが、挿入されないように修正頂けないでしょうか？

SQLファイルが以下の場合、
[code]
envPrefix="STG_" が展開されると以下のようになります。
[code]
期待する結果としては以下です。
[code]

以上、ご検討のほど宜しくお願い致します。

[2015-08-29 01:55] #95 closed

[2015-08-29 02:15] nakamura-to commented on #95
対応完了しました。
もし必要であればSNAPSHOTをつかってお試しいただけます。

[2015-08-29 03:05] chibat commented on #95
ご対応ありがとうございます！
確認してみます。

[2015-08-31 01:47] chibat commented on #95
確認OKでした。
ありがとうございます！

[2015-08-31 06:44] nakamura-to commented on #95
:+1:

[2015-10-03 08:56] tasuku-s opened #98 "バッチ挿入のパフォーマンスが悪い"
PostgreSQLにて、id列に`@GeneratedValue(strategy = GenerationType.IDENTITY)`
をつけたエンティティのバッチ挿入を行う場合、
idをエンティティにセットしなければならない関係上`preparedStatement`を使いまわしてくれず、
かつ1件挿入のたびにidを取得しにいってしまうようです。

バッチ挿入のユースケースでは、idのセットは必要でないことが多いため、
idセットを行うかどうかをDaoで制御できればよいなと思いました。

加えて、事前にidを取得できるDBであれば、
使うidを事前に予約しておくことでSQL発行回数を減らせると考えています。

例えばPostgreSQLであれば
[code]
のように取得できます

[2015-10-06 12:08] #98 closed

[2015-10-06 12:19] nakamura-to commented on #98
対応しましたが、Daoでの制御（アノテーションによる制御）は入れていません。
PostgreSQLで `@GeneratedValue(strategy = GenerationType.IDENTITY)` を使っていてバッチ挿入であれば、常に事前にidを確保するようにしました。アノテーションで制御したいユースケースが思い浮かばなかったからです。

[2015-10-07 15:40] tasuku-s commented on #98
おおー、そちらの機能があれば十分です！
ありがとうございます！

[2015-10-15 08:40] satoyama-m opened #101 "UnknownColumnHandler の handle() を空実装にすると NullPointerException が発生する"
未知のカラムが検出された場合にマッピングはせずに無視するようにするため、UnknownColumnHandler を handle() 内で何もしないように実装したところ、EntityProvider.build() 内で NullPointerException が発生しました。

UnknownColumnHandler の handle() を空実装とすることは過去に勧められているようなのですが、現在もこの方針で実装することは問題ないのでしょうか。
https://twitter.com/nakamura_to/status/443416808201003008

例外のスタックトレース
[code]
UnknownColumnHandler の実装
[code]

お手すきにて、助言をいただけますと幸いです。

[2015-10-15 13:59] nakamura-to commented on #101
報告ありがとうございます。
NullPointerExceptionが発生するのはDomaのバグですね。
次のバージョンで修正します。

[2015-10-18 13:06] #101 closed

[2015-10-19 07:54] satoyama-m commented on #101
お忙しいところ対応頂きありがとうございました。

[2015-11-17 03:24] nakamura-to opened #106 "注釈処理で生成されるコードが冗長なジェネリクスを含む"
例えば次のようなコード

[code]

[2015-11-21 03:55] #106 closed

[2015-12-18 10:32] matsumana opened #109 "InsertしたレコードのEntityが欲しいです"
質問です。

具体的に言うと、親子関係があるテーブルの親を先にINSERTしてそのIDを子のINSERTに使うので、INSERTしたレコードのEntityを戻り値として受け取りたいです。

[ドキュメント](http://doma.readthedocs.org/ja/stable/query/insert/#id3)にある`org.seasar.doma.Result`が今使っているバージョン(2.6.0)には含まれていないのですが、2.6.0だとどうすれば良いでしょうか？

それと、戻り値のクラスはイミュータブルなエンティティである必要があるみたいですが、
エンティティクラスはDoma-Genで生成しています。出来れば戻り値にそのエンティティを使いたいです。
良い方法はないでしょうか？

[2015-12-18 11:15] backpaper0 commented on #109
2.6.0にも`Result`はありますよ？
https://github.com/domaframework/doma/blob/2.6.0/src/main/java/org/seasar/doma/jdbc/Result.java

[2015-12-18 11:17] matsumana commented on #109
ドキュメントが`org.seasar.doma.Result`ってなってたので別物かと思ってました。
`org.seasar.doma.jdbc.Result`で良いんですね。ありがとうございます。

[2015-12-18 11:23] backpaper0 commented on #109
ドキュメント間違いのようですね。修正してプルリクエストしておきます。

[2015-12-18 11:30] matsumana commented on #109
ありがとうございます。

[2015-12-18 11:44] matsumana commented on #109
エンティティはDoma-Genで生成してるので、以下の様なクラスが出来るのですが、

[code]

InsertしたレコードのEntityを戻り値に使いたい場合、こういうクラスを別に作る必要があると思ってます。

[code]

そして、Daoのメソッドをこういう風に引数と戻り値を一致させる。

[code]

せっかくDoma-Genでエンティティを作っているので、イミュータブルなクラスを自分で別途作りたくないと思うのですが、
良い方法はないでしょうか？

イミュータブルなクラスになっている理由も知りたいです。

[2015-12-18 12:01] matsumana commented on #109
質問の補足です。

[ドキュメント](http://doma.readthedocs.org/ja/stable/query/insert/#id3)に
`パラメータがイミュータブルなエンティティクラスの場合、 戻り値はそのエンティティクラスを要素とする org.seasar.doma.Result でなければいけません。`

と書いてあるので、ミュータブルなエンティティクラスでもいけそうな印象を受けたのですが、

[code]

と書くとコンパイル時に以下のエラーになってしまいます。

`[DOMA4001] 戻り値の型は更新件数を示すintでなければいけません。`

なので、イミュータブルなクラスに限定されていると思った次第です。

[2015-12-18 12:20] backpaper0 commented on #109
ミュータブルなエンティティの場合、insertしたあとにidに値がセットされます。

つまり、

[code]

となります。

ですので、

という要望はミュータブルなエンティティと、戻り値がintのinsertメソッドで叶えられるはずです。
(この要望をすっかり見落としていました。すみません。）

[2015-12-18 12:42] matsumana commented on #109
* 引数がミュータブルなエンティティならそのエンティティのidにセットされる
* イミュータブルなエンティティならidがセットされたエンティティが戻り値で返る

って事なんですね。
ミュータブルでも戻り値で返すのかと思い込んでました。

ありがとうございました。

[2015-12-18 12:42] #109 closed

[2015-12-18 12:44] matsumana commented on #109
解決しましたのでcloseします。
ありがとうございました。

[2016-01-20 13:02] nakamura-to opened #113 "SelectBuilderでgetSql()を呼ぶとDOMA2111のエラーが発生する"
see https://twitter.com/k_kato/status/689715473605201920

[2016-01-21 14:13] nakamura-to opened #114 "Spring BatchのItemReaderと組み合わせやすくする"
現時点では、組み合わせに課題がある。

lospatitos/springboot-batch-doma/issues/1

[2016-01-24 10:23] #113 closed

[2016-02-03 08:44] k--kato commented on #113
@nakamura-to 対応ありがとうございました。

[2016-02-12 13:55] mitoma opened #120 "更新クエリ(include)の説明が誤っている"
「@ Update の include 要素に指定されたプロパティのみを**削除対象**とします。」という記述は、**更新対象** の間違いではないでしょうか？
https://github.com/domaframework/doma/blob/master/docs/sources/query/update.rst#include

[2016-02-12 14:40] #120 closed

[2016-02-12 14:41] nakamura-to commented on #120
ありがとうございます :smile:

[2016-02-12 14:57] mitoma commented on #120
:+1: どもです！

[2016-02-16 15:28] #114 closed

[2016-04-28 06:23] abeq opened #129 "For with kotlin"
Is there way to fix problem (http://backpaper0.github.io/ghosts/kotlin-doma.html#/29) with Kept/Kotlin on Doma side?

[2016-04-28 20:02] nakamura-to commented on #129
You may use `org.seasar.doma.ParameterName`.

[code]

[2016-04-30 21:52] nakamura-to commented on #129
`@ParameterName` doesn't work properly for Entity's constructors now.
 It will be addressed in new version(2.8.1 or 2.9.0).

[2016-05-16 20:16] nakamura-to commented on #129
Try Doma 2.9.0.
This sample project may be helpful for you.
https://github.com/domaframework/kotlin-sample

[2016-05-16 20:16] #129 closed

[2016-05-30 07:39] worifon opened #148 "Kotlinでのエンティティクラスについて"
Kotlin+domaではエンティティクラスで「継承は使わない」とあります。
created_at, update_at, versionのようなすべてのテーブルに共通的に付加したいフィールドに対して継承を使った経験がありましたが（javaですが）、こういうことはできないということですね？
またエンベッダブルクラスを使うといいかと思いましたが、「楽観的排他制御用のバージョンを定義できません。」とのことなので、これもできないということですね？

[2016-05-30 10:01] nakamura-to commented on #148
以下のように継承はできます。

[code]

しかし、Data Classが使えない（つまり便利なcopyメソッド使えない）ですし、記述量もそれほど変わらないので多少の重複には目をつぶってフラットに記述するのが良いと考えています。

はい、こちらはその通りです。エンベッダブルクラスは再利用性よりも意味のあるデータをグループ化するために利用するのが良いと思います。

[2016-05-31 10:11] worifon commented on #148
ご回答、ご教示をありがとうございました。理解しました。

[2016-05-31 10:11] #148 closed

[2016-06-07 01:24] bakenezumi opened #149 "SQLの埋め込み変数コメントの拡張希望"
いつも利用させてもらっています。
ありがとうございます。

SQLの埋め込み変数コメントの機能につきまして、１点拡張のお願いになります。

[code]
とあったとき、

[code]
とSQLを書くと期待した`where code = 'abc'`ではなく、`where code = '/*# code */'`
と現在の仕様では展開されるようです。

こちらを`where code = 'abc'`になるよう拡張していただくことは可能でしょうか。

といいますのが、codeの値により異なる実行計画が選択されるケースで、プリペアしたくない場合があるからです。
旧S2DAOでは埋め込みコメント`/*$引数名*/`によりステートメントを明示的に分けることで対処しておりました。

インジェクションのリスクがややあがる懸念はあるかと思いますが、禁則文字のチェックは評価後に行われているようなので問

[2016-06-07 12:53] nakamura-to commented on #149
`'/*# code */'` のような文字列の中をDomaが自動で書き換えるように変更するのは互換性の面で採用しにくいです。

少し冗長ですが、このように書けるようにするのはどうでしょうか？

[code]

`@raw()` で返された値に対しては禁則文字のチェックを行わないようにします。
したがって、最終的なSQLは次のようにできます。

[code]

[2016-06-08 02:15] bakenezumi commented on #149
回答ありがとうございます。

要求としては満たせますのでご提示の実装で問題ないです。
ただ、変数の中身に対しては事前に禁則チェックを行う必要がでてくるため、

[code]
のように特化した関数もあるとありがたいです。

[code]

[2016-06-08 12:50] nakamura-to commented on #149
変数の中身には禁則チェックかけたいのですね。確かにその方が安全で良いと思います。
ということであれば、新しく専用のSQLコメントを用意してしまった方がスッキリするかもしれません。

[code]

こうするのはどうでしょうか？

- codeが数値ならそのまま、数値以外なら`toString()`してシングルクォートで囲んで出力
- Iterableならカンマで連結
- バインド変数コメントに合わせてテスト用データは必須
- この新しいコメントの名称は「リテラル変数コメント」
- 埋め込み変数コメントは主にテーブル名やorder byを埋め込む場合に使ってもらうことにしてリテラル変数コメントとは使い分ける

[2016-06-08 22:56] bakenezumi commented on #149
全く問題ありません。

丁寧な考慮ありがとうございます。

[2016-06-08 23:01] nakamura-to commented on #149
では、この方向で機能追加しようと思います。

[2016-06-08 23:02] bakenezumi commented on #149
大変助かります。よろしくお願い致します。

[2016-06-11 02:12] #149 closed

[2016-06-15 06:16] k--kato opened #152 "SelectBuilder で ' の中に param を設定するとパラメータが設定されない"
* Doma Version: 2.10.0
* OS Version: Windows 10 Pro x64
* Database: PostgreSQL 9.5 x64

SelectBuilder で `'` の中に param を設定すると，パラメータが設定されません。

#### コード
[code]

#### 実行結果
[code]

#### 期待する結果
[code]

param の用途が不適切と思われますが，ご確認をよろしくお願いします。
※SQL Injection のサニタイジングを期待して使用しています

[2016-06-15 06:29] k--kato commented on #152
解決しました。

[code]

お騒がせしました。

[2016-06-15 06:29] #152 closed

[2016-06-15 22:29] nakamura-to commented on #152
リテラルを埋め込みたいということでしょうか。
次のように書けるようにすることを検討しています。

[code]

[2016-06-16 02:37] k--kato commented on #152
@nakamura-to
はい，サニタイジングされたリテラルが理想です。`.literal` があれば非常に助かります。

[2016-06-16 10:56] nakamura-to commented on #152
サニタイジング（SQLエスケープ）はDomaでは行わず、 `PreparedStatement` に任せる方針です。

今回のようにリテラルで埋め込む場合には、あらかじめ定義された安全な値のみを使うのが良いと思います。そうすればそもそもエスケープの必要がありません。
どうしても外部から受け取る信頼できない値を使いたいのであればリテラルを埋め込むのではなく、やはりバインド変数（ 上記の例で言うと`param()`）を使ったほうが安全です。

上述の`literal()`を使った場合は、文字列にシングルクォートが含まれかどうかをチェックし、含まれる場合には例外をスローするつもりです。

[2016-06-16 23:47] k--kato commented on #152
@nakamura-to
把握しました。`param`  と `literal` と使い分けに気をつけたいと思います。
`literal` に ```` が含まれると例外をスローするのはとても良いと思います。

[2016-07-07 23:47] worifon opened #157 "joobyでの利用"
jooby <http://jooby.org/> での利用はできますでしょうか？
joobyのmoduleにしないとできないでしょうか？

[2016-07-10 02:59] nakamura-to commented on #157
利用できると思います。ドキュメントを見る限り利用にあたっての制約は特になさそうです。

module化は必須ではないです。joobyにはDataSouceを提供するmoduleがあるのようなので、以下のようにすれば、Domaをmodule化しなくても使えます。
[code]

ただしモジュール化すればもう少し簡潔に書けると思います。以下はあくまでサンプルですが、次のように書くこともできると思われます。
[code]

Daoを取り出して使うこともできそうです。
[code]

[2016-07-10 23:22] worifon commented on #157
ありがとうございます。自力では見当も付かなかったのですが、ご教示いただいた方法で試してみます。

[2016-07-10 23:22] #157 closed

[2016-08-02 11:57] nakamura-to opened #163 "Entityが他のEntityを継承をしていると無限ループが発生する"
次のコードが原因

https://github.com/domaframework/doma/blob/e855d7973f3318a79cf04604a8f9d7eb1fbd0588/src/main/java/org/seasar/doma/internal/jdbc/entity/PropertyField.java#L70

[2016-08-02 11:58] nakamura-to commented on #163
v2.10.0で以降で発生する

[2016-08-02 12:12] nakamura-to commented on #163
親と子の1段階の継承なら問題ないが、子を継承した孫が存在するような2段階の継承関係があるとこの現象が起きる

[2016-08-03 09:59] syuhaitao opened #164 "HELP"
How to use the same set of Entity, how to meet the MySQL and Oracle's primary key generation strategy

[2016-08-03 13:42] #163 closed

[2016-08-03 14:09] nakamura-to commented on #164
Entity classes are not bound to a specific data source.
You can change data sources with Config class.

Use the `GenerationType.TABLE` strategy.

## Sample Code
### Entity

[code]

### DDL for `GenerationType.TABLE` strategy.

[code]

### DAO

[code]

### Config for Oracle

[code]

### Config for Mysql

[code]

### Client

[code]

[2016-08-12 03:34] syuhaitao commented on #164
Issue is solved,but Generationtype.table concurrent problem how to solve?

[2016-08-12 03:47] nakamura-to commented on #164
Can you tell me what kind of concurrent problem you have?
Are primary key values duplicated?

[2016-08-12 05:52] syuhaitao commented on #164
primary key values duplicated, and This ID generation strategy will not be efficient in the case of high concurrency?

[2016-08-12 07:14] nakamura-to commented on #164
Does it really occur in your environment? Or is it just your question?

No, it will not be efficient.But there are two things to improve performance.

### Point 1: Assign larger value to the `allocationSize`

It reduces the frequency of DB access.

[code]
### Point 2: Make transaction short for ID generation

You can use `org.seasar.doma.jdbc.RequiresNewController`. This is also useful to prevent

[2016-08-12 07:59] syuhaitao commented on #164
THANK YOU !  This problem does not appear in the project, which is a question I think of

[2016-08-16 01:52] syuhaitao commented on #164
GenerationType.TABLE is not without the high efficiency of GenerationType.IDENTITY and GenerationType.SEQUENCE?

[2016-08-16 01:57] syuhaitao commented on #164
If you want Mysql to use GenerationType.IDENTITY and Oracle to use GenerationType.SEQUENCE, how to achieve? EntityListener?

[2016-08-16 11:50] nakamura-to commented on #164
GenerationType.TABLE is not so bad. It may be acceptable for you.

There is no good way to achieve it.

Can you tell me which version of Oracle Database you use?
I have a plan to support GenerationType.IDENTITY for Oracle Database 12c. If you use Oracle Database 12c, you can use only GenerationType.IDENTITY  for both Mysql and Oracle.

[2016-09-27 05:26] satoyama-m opened #168 "水平分割したテーブルの利用方法"
水平分割したテーブルの利用方法

Doma では、データ分散のためにテーブルを水平分割するにはどのような Dao を作ればよいでしょうか。

例えば、1 つのテーブルを同じスキーマのまま books_p1, books_p2, ... books_pX と作っていき、
時間や名前などの一定条件でレコードをいれておくテーブルを決めるものとします。
Dao のメソッドから以下のクエリで分割されたテーブルの番号を指定してアクセスしてみました。

    SELECT * FROM books_p/* tableNo */0 WHERE id = /* id */0

ただ、テーブル名に対してパラメーターを埋め込むことはできないようで、以下のようなエラーとなりました。

    org.seasar.doma.jdbc.SqlExecutionException: [DOMA2009] SQLの実

[2016-09-27 13:35] nakamura-to commented on #168
テーブル名を動的に変化させたい場合は[埋め込み変数コメント](http://doma.readthedocs.io/ja/2.12.1/sql/#id13)を使ってください。
[code]

CommandImplementors や QueryImplementorsはよほどのことがない限り使う必要は出てこないと思います。

[2016-09-28 02:33] satoyama-m commented on #168
埋め込み変数コメントで無事アクセスすることができました。
ご教示いただきありがとうございました。

[2016-09-28 02:33] #168 closed

[2016-10-17 12:41] MasatoshiTada opened #169 "PostgreSQLで、@BatchInsert時にGenerationType.IDENTITYによるID自動生成がされない"
# 概要

@BatchInsert実行時に発行されるINSERT文に、主キーが含まれてしまいます。主キーには0が代入されています。
@Insertでは、発行されるINSERT文に主キーが含まれておらず、自動採番がされています。

下記のコードは、GitHubにアップしてあります。
https://github.com/MasatoshiTada/doma-maven
# 環境
- Doma 2.12.1
- PostgreSQL 9.4.2
- org.postgresql:postgresql:9.4.1211
- macOS Sierra
- Eclipse JEE 4.6.1
- JDK 8u102
# テーブル定義

[code]
# エンティティクラス

[code]
# Daoクラス

[code]
# テストコード

[code]
# 実行ログ

[code]

[2016-10-17 12:50] nakamura-to commented on #169
エンティティクラスで`id`の型を`int`にしているので`int`の初期値である`0`がINSERT文に反映されてしまっていますね。`int`の代わりに`Integer`を使うか、`id`の初期値に`-1`など`0`より小さい値を設定してみてください。
この辺りハマりポイントかもしれませんね。ドキュメントの書き方を工夫できるかもしれません。

[2016-10-17 13:24] MasatoshiTada commented on #169
いただいたアドバイスの通り、idを-1またはIntegerに変更したら、上記のテストがGreenになりました。
https://github.com/MasatoshiTada/doma-maven/commit/18bb9490ae599820100ae2e757296e09464f9bee
ありがとうございました！

[2016-11-12 01:41] nakamura-to commented on #169
ドキュメントに記載しておきました。 #170

[2016-11-12 01:41] #169 closed

[2016-11-12 01:42] #164 closed

[2016-12-01 05:36] ushibutatory opened #172 "カラム数が多いテーブルを使用した際に「Method code too large!」エラーが発生する"
300カラムを超えるテーブルに対してEntityクラスを定義した場合、アプリケーション実行時に、生成されるコンストラクタでエラーが発生します。

<pre>
Caused by: java.lang.RuntimeException: Method code too large!
	at sl.org.objectweb.asm.MethodWriter.a(Unknown Source)
	at sl.org.objectweb.asm.ClassWriter.toByteArray(Unknown Source)
	at org.springsource.loaded.ReloadableType$MergedRewrite$ChainedAdapters.getBytes(ReloadableType.java:984)
	at org.springsource.loaded.Rel

[2016-12-01 07:37] nakamura-to commented on #172
どれくらいのカラム数であればエラーは発生せずに済みますか？だいたいの閾値を知りたいです。

spring-loadedを利用しない場合は300カラムを超えるテーブルであってもエラーは起きないと考えてよいですか？

[2016-12-02 01:46] ushibutatory commented on #172
JVMが1メソッドの長さを64Kと定めているようでした。
http://stackoverflow.com/questions/6570343/maximum-size-of-a-method-in-java
http://stackoverflow.com/questions/17422480/maximum-size-of-a-method-in-java-7-and-8

実際にカラム数を変更しての検証はできていませんが、カラム数だけでなくカラム名の長さにも依存しそうです。

[2016-12-03 04:07] nakamura-to commented on #172
もしspring-loaderを使わない場合にこの現象が発生しなければ、spring-loaderを使わないことが回避方法の一つになると思います。

それ以外の方法としては、カラム数が多いテーブルに対してはDomaを使わないという案も考えられます。つまり、エンティティクラスに `@Entity` を注釈するのをやめて、DaoのデフォルトメソッドでDoma提供のクエリビルダや他のDBアクセスライブラリを使う方法です。

デフォルトメソッドを使う例はこちらを参照ください。
http://doma.readthedocs.io/ja/stable/dao/#dao-default-method

上記リンク先の例ではクエリビルダを使っていますが、`config.getDataSource()`とすることで`DataSource`を取得可能ですのでSpringJDBCなど他のDBアクセスライブラリ

[2016-12-05 03:33] ushibutatory commented on #172
確認が遅くなってすみません。spring-loaderを使わない場合はエラーは発生しませんでした。
使わない方向で回避できるので、このissueはクローズしていただければと思います。

[2016-12-18 01:42] #172 closed

[2016-12-29 13:53] nakamura-to opened #178 "SQLテンプレートで組み立てたSQLを別のSQLに組み込んで実行したい"
例えば[Amazon RedshiftのUNLOADコマンド](http://docs.aws.amazon.com/ja_jp/redshift/latest/dg/r_UNLOAD.html)のselect-statement部分をDomaのSQLテンプレートで表現し、UNLOADコマンドを実行したい。

https://gist.github.com/newta/03584d39116a362efde0d72ee83e68f1 のコードと同等のことを実現する場合は、次のようにすれば良いと思われる。

`@ HandleSql`アノテーションをDomaで新規に実装し、組み立てたSQLをアプリで受け取って任意に利用できるようにする。

[code]

SQLファイルは次のようなものを用意する。

[code]

利用するコードは次のようなものになる。

[code]

上のコードは冗長だ

[2017-01-04 11:32] bakenezumi commented on #178
明けましておめでとうございます。

面白い機能ですね。
ちょっと冗長にはなりますが、なんとなく下記のように使ってみたい欲望にかられました。

[code]

[code]

UnloadDao/unload.sql
[code]

汎用ハンドラ
[code]

利用するコード
[code]

また任意の場所でログ出力等、いろいろできそうですね。

[2017-01-04 12:41] nakamura-to commented on #178
なるほど。組み立てたSQLをパラメータで渡して、さらに別のSQLを組み立てるということですか。確かにそういう使い方もできますね。

[2017-01-09 04:45] #178 closed

[2017-01-12 12:51] disc99 opened #185 "Daoインターフェイスの型パラメータ定義に関しての質問"
## 概要
現在Daoインターフェイスに型パラメータを定義した場合、下記のようなアサートが行われていると思います。

[code]

ソースを読み切れていないので質問になってしまうのですが、こちらのアサートはDaoの実装を生成する上では止む終えない処理になるのでしょうか？
また、こちらの回避する方法はないでしょうか？

## 背景
現在、Domaを使用させてもらう上で汎用的なDaoインターフェイスの定義をできないか検討しています。
その中で、デフォルトメソッドと併用することで以下のような処理を考えていました。

[code]

こちらのアプローチで実現は出来そうなのですが、この方法だと必ず引数にClassやインスタンスを渡さなければならないため、もう少しシグネチャを整理できないかと考えていました。

具体的にはこちらで紹介されている型パラメータの定義によるアプローチを利用できればと考えてい

[2017-01-13 22:15] nakamura-to commented on #185
このような仕様になっている理由は、 `@Select` や `@Insert` が注釈されたメソッドに型パラメータが存在すると注釈処理時に適切なコードを生成できないからです。
例えば、次のようなコードを考えてみます。

[code]

Doma は注釈処理時に戻り値の `List` の要素の型がエンティティクラスなのか基本型（Integerなど）なのかを見て生成するコードを変えているのですが、型パラメータを指定されると区別できないためコード生成できません。

一方でメソッドがデフォルトメソッドの場合はどうかというと、コードを生成する必要がないので型パラメータがあっても特に困りません。したがって、もし対応するとしたら、デフォルトメソッドのみが定義された Dao インタフェースであれば型パラメータの利用を認めるというように制限を緩和してもいいかもしれません。

注釈処理に手を入れない限りは、回

[2017-01-14 06:08] nakamura-to commented on #185
#188 でデフォルトメソッドのみを持つインタフェースを継承できるようにしてみました。こんな感じで使えます。

[code]

[code]

[code]

なお、 `@Dao` が注釈されたインタフェースに型パラメータを宣言できない仕様はこれまで通りですので上記の例では親インタフェースに `@Dao` をつけていません。

[2017-01-14 09:16] disc99 commented on #185
ご回答ありがとうございます！
あっという間に対応案まで出して頂いて、非常にありがたいです！

このアプローチであれば、DaoImplでdefaultメソッドによるMixinができるので、当初私が想定していた方法よりも更に汎用性が高そうですね！

[2017-01-14 11:10] nakamura-to commented on #185
マージしました。次のバージョンに含めます。

[2017-01-14 11:10] #185 closed

[2017-02-14 17:25] kakusuke opened #190 "注釈処理のオプションを設定ファイルに書けるようにしたい"
プロジェクトの構成やIDEによっては、自動的に注釈処理のオプションの設定が難しかったりするので、オプションも設定ファイルとして管理できると嬉しいです。

具体的には以下のような状況に陥りました。

1. IntelliJにて注釈処理を有効にし、`doma.domain.converters`と`doma.expr.functions`を指定するgradleタスクを書いていた
2. IntelliJバージョンを上げたところ、設定ファイルの仕様が変わったのか自前実装していた注釈処理の設定を有効にするgradleタスクがエラーを吐くようになった
3. 暫定的な対処として、gradleタスクの実行をやめ、手作業でオプションを指定するという作業をプロジェクトインポート時に毎回することにした

この状況場合、gradleタスクを直せば終わりという話ではありますが、設定ファイルとしてプロジェクトに組み込

[2017-02-15 22:13] #190 closed

[2017-03-31 01:53] hinoko58 opened #193 "【質問】doma2 クエリビルダーのIn句のパラメータ(List)指定方法"
[doma2クエリビルダーのIn句](https://teratail.com/questions/70746#reply-111833)

上記のリンクと全く同じ質問です。

Domaの動的SQLを作成するため、SelectBuilderを使い、SQLを作成しました。
ただし、In句にリストの指定方法がわかりません。

試した、ソースは以下になります。

SelectBuilder builder = SelectBuilder.newInstance(config);
builder.sql("select * from user where id in (").param(List.class,Arrays.asList(1,2,3)).sql(")");
builder.getEntityResultList(User.class);

を実行すると、以下のエラーが発生します。

[2017-03-31 14:32] nakamura-to commented on #193
リンク先のKiyoshiMotokiさんの回答がベストだと思います。
パラメータにリスト形(もしくは配列)を指定する方法はサポートされていません。
自前でin句を組み立てる必要があります。

今はサポートしていませんが、次のようなメソッドをSelectBuilderに生やしてサポートしてもいいかもしれません。
[code]
こんな感じで使う想定です。
[code]

[2017-04-04 09:18] hinoko58 commented on #193
回答ありがとうございます。
サポート指定ない点、了解しました。
`
params(Class<E> elementClass,List<P> params);
`
のサポートしていただければ、幸いです。

よろしくお願いします。

[2017-04-14 02:09] nakamura-to commented on #193
#194 で対応しました。

[2017-04-14 02:09] #193 closed

[2017-04-14 02:25] hinoko58 commented on #193
有難うございます。

[2017-08-07 02:27] nsoushi opened #201 "DB(UTC)／Server（JST）の環境でLocalDateで指定したカラムの値がJST→UTCのタイムゾーン影響を受けてDBにインサートされる"
## 事象

### 利用しているバージョン

- doma `2.16.1`
- kotlin `1.1.2-2`

### 確認した事象

次のタイムゾーン環境で確認。
- DB：UTC
- Server：JST

次のようなdata classでエンティティを作成。
[code]

`finishedAt`には `LocalDate`の型を指定。

Daoのテストを行い `tasks`テーブルにデータをインサートした後に `finishedAt`の値を検証する。
[code]

finishedAtカラムの値は`2017-08-01`を期待していたが、`2017-07-31`となっている。
これはServer（JST）からDB（UTC）に値が渡る過程でマイナス9時間した結果`2017-07-31`と予想する。

### 確認したログ

domaのログでは次のように出力されている。
[

[2017-08-07 11:51] nakamura-to commented on #201
次のリンク先で示すように `java.sql.Date` に変換した上でJDBCのAPIに渡していますが、これ自体は今回の現象とは無関係だと思われます。
https://github.com/domaframework/doma/blob/2.16.1/src/main/java/org/seasar/doma/jdbc/type/LocalDateType.java#L46

MySQLのJDBCドライバにタイムゾーンの変換機能があるようです。そちらが影響しているのではないでしょうか？下記のバグレポートが現象としては似ているように思われました。
https://bugs.mysql.com/bug.php?id=71084

タイムゾーンの変換機能を制御するために、MySQLのJDBCドライバには `useLegacyDatetimeCode` や  `noTimezoneConvers

[2017-08-07 13:22] nsoushi commented on #201
詳細なご案内ありがとうございます。

`?useLegacyDatetimeCode=false&serverTimezone=Asia/Tokyo`をJDBC URLに付与することで期待通りの日時を取得することができました。

ご対応ありがとうございました。

[2017-08-07 21:53] #201 closed

[2017-12-14 15:49] hinoko58 opened #213 "【質問】sqliteを対応していると思いますが"
androidでの利用も可能でしょうか？

[2017-12-14 22:21] nakamura-to commented on #213
残念ながらAndroidはサポートしていません。

[2017-12-15 03:37] hinoko58 commented on #213
迅速な解答ありがとう御座います。

[2017-12-15 03:37] #213 closed

[2017-12-22 03:25] makotok opened #214 "TypeDeclaration#removeOverriddenMethodDeclarationsでIllegalStateExceptionが発生"
複数のインタフェースや抽象クラスを継承しているエンティティクラスを使用して、Domaの注釈処理を実行すると、DaoProcessorの処理中にDOMA4016が発生します。

Mavenのデバッグログを確認すると、TypeDeclaration#removeOverriddenMethodDeclarationsからIteratorのremoveメソッドを呼び出したタイミングでIllegalStateExceptionします。
おそらく、Iterator#removeメソッドを複数回呼び出しているようです。

## Domaのバージョン
2.19.0

## 発生状況(2017/12/22 追記)
* InterfaceA -> InterfaceB -> AbstractClass -> EntityClass というように、複数のインタフェースを実装している
* 複数のインタフェースに

[2017-12-23 01:41] nakamura-to commented on #214
ありがとうございます！現象確認できました。
いただいた #215 のPRで解決できると思います。
念のために少しテストケースを追加してみようと思います。

[2017-12-23 05:27] nakamura-to commented on #214
テストして問題なかったのでマージしました

[2017-12-23 05:27] #214 closed

[2017-12-24 01:23] makotok commented on #214
ありがとうございます！大変助かりました！

[2018-02-23 05:51] smallclover opened #218 "Doma2 document Chinese Version"
すみませんですが、このDoma2のドキュメントの中国語のバージョン作りたいですが、いかがでしょうか。
このフレームワーク興味がありますので、やりたいんです。

[2018-02-26 14:31] smallclover commented on #218
今の計画は全部のドキュメント中国語になります。でも、今は翻訳者は私だけです、翻訳の進捗はおそくなるかもしれませんが、やります！全部終わった後、他のイベントを考えます。

今、このフレームワークは自分のGitにForkしました。翻訳のドキュメントの日本語のバージョン同じようにDocsに放置しました。名前は「xxxxx-zh.rst」になりました。

このドキュメントの意味確実に他の人に伝えます！これは今の目標です。

以上です、ありがとうございます。

[2018-02-27 22:26] nakamura-to commented on #218
なるほど！了解しました。
ぜひそのまま進めてください。

Read the Docsへの反映のさせ方については私の方でも考えてみたいと思います。

[2018-03-02 07:48] smallclover commented on #218
ありがとうございます、了解しました。

[2018-03-07 12:07] scnmztn opened #219 "トランザクションロールバック時にランタイム例外が発生することでローカルトランザクションの状態が壊れる"
LocalTransaction#rollbackInternal 内、 try - finally ブロック外での LocalTransactionContext#getConnection がランタイム例外をスローするとスレッドローカルに LocalTransactionContext インスタンスへの参照が残った状態になり、以降同一スレッドにおけるトランザクションが開始できなくなります。

トランザクションが開始された状態で JDBC 接続がサーバーから切断された場合等にこの事象が起きます。このときローカルトランザクションはロールバックしようとしますが、前述の通りロールバック処理自体が失敗し、 LocalTransaction オブジェクトのスレッドローカルに切断されたコネクションを参照した LocalTransactionContext が残ります。

[code]

[2018-03-07 22:41] nakamura-to commented on #219
ありがとうございます！
確かに指摘いただいた通りのコードになっていますね。
近日中に修正して新しいバージョンをリリースしようと思います。

[2018-03-11 00:55] #219 closed

[2018-03-13 07:24] MakotoKinoshita opened #222 "SQLファイルを使った@Updateメソッドの実行時、実行がスキップされることがある。"
domaの1.26.0から2.19.1にアップデートする作業をしております。
バージョン2.19.1において、SQLファイルを実行する一部のUpdateメソッドを実行した際、以前は実行されたSQLの実行がスキップされるようになりました。

## 事象
SQLファイルを実行するUpdateメソッドを実行した結果、処理がスキップされてレコードが更新されなかった。1.26.0時点では、SQLを使った更新は、必ずSQLが実行される想定であった。

## 確認事項
ソースを確認すると、#75 でSqlFileUpdateQuery等に修正が入っており、更新対象のプロパティのみが更新された場合にUpdateを実行するように変更されているようにみえます。
※/*%populate */は使わないケースでも事象が発生します。

そのため、本来であればSQLが実行されることを期待するケースで実行されない事が

[2018-03-13 13:00] nakamura-to commented on #222
原因わかりました。ここのコードですね。

https://github.com/domaframework/doma/blob/2.19.1/src/main/java/org/seasar/doma/jdbc/query/UpdateQueryHelper.java#L94

#75 の修正で共通化し過ぎてしまったようです。
今週末には修正してリリースしようと思います。

[2018-03-16 23:23] nakamura-to commented on #222
すみません。修正を検討していましたが、1.26.0と挙動が変わっているとは言え妥当性があるので現行の仕様を維持したいと考えています。

ドキュメントには反映されていませんが、現行の仕様は次のようになっています。
- `@OriginalStates`が注釈されたエンティティが変更されていなかったらSQLを実行しない
- 変更チェックは`@Update(includeUnchanged = true)`で無効にできる

アプリケーション側での対応策ですが、以下のようにしてもらうのはどうでしょうか？

[code]

`@Update(includeUnchanged = true)`とすることでスキップされることなく必ずSQLが実行されます。

[2018-03-18 14:54] makotok commented on #222
回答ありがとうございます。
対応を検討してみます。
※個人的な都合ですが、修正対象が1000個以上あるのでどうしようかなと思っています。

[2018-03-18 15:18] makotok commented on #222
Javadocを確認しました。

https://github.com/domaframework/doma/blob/319828bcdc39d656daac239de0dbae002bfdd655/src/main/java/org/seasar/doma/Update.java#L105-L115

includeUnchangedは、Javadocで確認する限り、sqlFileがtrueの時だけ有効である仕様のようです。
念のための確認ですが、SQL利用時にこのプロパティを使っても問題ないのでしょうか？

理想的には、以下の仕様の方が動きが分かりやすくて、バグを埋め込まないと思いますが、いかがでしょうか？

* sqlFile=false
    * includeUnchanged=false：更新対象プロパティを変更した場合にSQL実行(SET句は変更項目のみ)
    * i

[2018-03-18 20:56] nakamura-to commented on #222
今回はJavaDocコメントが正しくないと判断しました。JavaDocコメントは次のリリースでは修正しようと思います。提案いただいたpopulateの有り無しで挙動を変える方法は検討してみたのですが、少し複雑だと（シンプルさが足りないと）感じました。

これは大変ですね。アプリケーションで次のように対応すると楽だと思います。

QueryImplementorsを実装したクラスを用意する
[code]

Configの実装クラスで上記クラスのインスタンスを返す
[code]

こうすることで、既存の `@Update(sqlFile = true)` を `@Update(sqlFile = true, includeUnchanged = true)` と書き直すのと同じ効果があります。

[2018-03-18 23:40] MakotoKinoshita commented on #222
回答ありがとうございます！
その実装方法であれば対応できそうなので、試してみます。

[2018-03-19 03:33] MakotoKinoshita commented on #222
ご教示頂いた実装方法だと、自動性生成されたDapImplによって、unchangedPropertyIncludedが上書きされてしまうようです。上書きされないように、setUnchangedPropertyIncludedを無効化するか、isExecutable()が必ずtrueで返すように対応してみたいと思います。

[code]

[2018-03-19 03:34] #222 closed

[2018-03-19 06:54] nakamura-to commented on #222
おっと、そうでした :sweat_smile:

:+1:

[2018-03-21 04:47] nakamura-to commented on #222
#223 で修正しました。

[2018-03-27 07:58] hinoko58 opened #226 "SQLテンプレートを使ったSQLの組み立てでシングルクォーテーションを使いたい。"
個人的にJAVA側で一番いいORMだと思っています。
SQLを組み立てる際に、/*# xx */の中にシングルクォーテーションがあったらいけないらしく、
以下のエラーが発生します。※SQLインジェクション対応だとは思いますが
回避する方法はあるんでしょうか？
[code]

やりたいこと。

Whereクラスがあってその中身のJson表現
[code]

userDao.java
[code]

selectByUsers.sql
[code]

の場合、以下のSQLが実行されるようにしたいと思います。
下記の２行目以降を自動で組み立てたいと思います。
なるべくなら、クエリビルダーを使わない方法でやりたいと思います
[code]

なにかヒントなど有りましたら、よろしくおねがいします。

[2018-03-27 22:12] nakamura-to commented on #226
シングルクォテーションを認めていないのは、SQLインジェクションを防ぐためです。
望んでいない解決策だということはわかっていますが、やりたいことを見る限りはクエリビルダーが適しているように見えました。

もしくは、どうしてもSQLテンプレートを活かしたいということであれば、[SQLプロセッサ](http://doma.readthedocs.io/ja/stable/query/sql-processor/)を使う方法があります。SQLプロセッサを使うと、SQLテンプレートで組み立てたSQLをJavaコードでさらにカスタマイズできます。
いただいた例で言うと、selectByUsers.sqlに記述されたSQLを取得し、resoveWhereに相当する部分をJavaコードで処理して連結するということができます。

[2018-04-04 05:34] hinoko58 commented on #226
ご回答ありがとうございます。

SQLプロセッサでSQL取得し、対応することが出来ました。

ありがとう御座います。

[2018-04-04 05:34] #226 closed

[2018-04-15 02:31] yu-aoyama opened #228 "日本語テーブル・カラム名で正しく動きません"
いつもDoma2を利用させて頂いています。
現在、日本語テーブル・カラム名をDoma2で利用できるのか調査をしています。

以下のEntityクラスを準備してSELECT処理を発行したところ、SELECT結果をEntityに紐付けるタイミングでエラーが発生します。

[code]

エラー内容
`> org.seasar.doma.jdbc.UnknownColumnException: [DOMA2002] カラム[テスト項目]が結果セットに含まれますが、このカラムにマッピングされたプロパティがエンティティクラス[Test]に見つかりません。次の3つの内のいずれかの対応が必要です。1)エンティティクラスに[テスト項目]という名前のプロパティを定義する。2)任意の名前のプロパティに@Columnを注釈し@Columnのname要素に[テスト項目]を指定する。3)UnknownColumnH

[2018-04-15 05:47] nakamura-to commented on #228
.javaファイルのエンコーディングの問題だと思います。
Eclipseの設定でエンコーディングをUTF-8に設定して試してみてもらえないでしょうか？

日本語テーブル・カラムですが、エンコーディングがUTF-8であることを前提にサポートしています。

[2018-04-15 10:59] yu-aoyama commented on #228
迅速な回答ありがとうございます。

こちら承知しました。

ただ、.javaファイルについて確認したところTest.java _Test.java共にUTF-8になっておりました。

Eclipseの設定としては、

[ウィンドウ] → [設定]からの「一般」 > 「ワークスペース」
テキスト・ファイル・エンコードは「UTF-8」

[ウィンドウ] → [設定]からの「一般」 > 「コンテンツ・タイプ」
でjavaファイルについては設定なし

[プロジェクト] → [プロパティー]からの「リソース」
テキスト・ファイル・エンコードは「UTF-8」

としています。

他に何か設定必要なものはございますでしょうか？

[2018-04-15 11:59] yu-aoyama commented on #228
環境の問題かもしれないと考え、他のEclipse Mars(4.5.2) があったので確認してみたところ、こちらでは文字化けしませんでした。

改めてEclipse Neon(4.6.3)の
[ウィンドウ] → [設定]からの「一般」 > 「ワークスペース」
でテキスト・ファイル・エンコードを確認してみたところ「デフォルト(U)」で値が「MS932」になっているものを、「その他(O)」に変更して「UTF-8」にしていました。

ここの設定変更がうまく効いていないかと思い、eclipse.iniに以下

を設定してEclipseのデフォルトをUTF-8に変更したところ、文字化けしなくなりました！

「Eclipse 4.6.3」の問題なのか判断がつきませんが、ヒント頂けたおかげで解決しました。
ありがとうございました

doma-gen含めて素晴らしいフレームワークだと思いますので、これから

[2018-04-22 00:04] #228 closed

[2018-06-21 04:05] thicongtu2 opened #231 "how do i pass list, array in sql file"
i have:
Optional<Project> select(List<Integer> list); in DAO inteface with
sql file:
SELECT
  /*%expand*/*
FROM
  m_project
WHERE
  deleted_at IS NULL

AND project_id = /* list.get(0) */'1'
LIMIT 1
But i build got error:
Error:(61, 44) java: [DOMA4122] SQLファイル[META-INF/com/xxx/yyy/domain/dao/project/ProjectDao/select.sql]の妥当検査に失敗しました。メソッドのパラメータ[list]がSQLファイルで参照されていません。

[2018-06-21 23:03] nakamura-to commented on #231
The error message DOMA4122 means that the method parameter `list` is not referred in the SQL file.
Your sample code looks fine.

Which Doma version do you use?

[2018-06-23 11:40] thicongtu2 commented on #231
i using doma2. and refer much to this sample
https://github.com/miyabayt/spring-boot-doma2-sample.

[2018-06-24 12:49] nakamura-to commented on #231
I'm afraid I can't reproduce the error you're seeing.
Can you provide me minimum sample code that has the issue?

[2018-07-09 06:20] scnmztn opened #233 "トランザクション終了後、 Connection の autoCommit が常に true に設定される"
Connection の autoCommit が LocalTransaction#beginInternal で false に、 LocalTransaction#release で true に設定されますが、後者は true 固定ではなく beginInternal 以前の元の値とすべきかと思いますが、いかがでしょうか。

LocalTransactionConnection が preservedTransactionIsolation と同様に autoCommit 値を保持するようにするのが素直かなと思います。

[2018-07-09 11:57] nakamura-to commented on #233
Doma 1の頃に同様の指摘をいただき、その時は対応を見送りました。
https://www.seasar.org/issues/projects/DOMA/issues/DOMA-315

再検討したいため、現在の実装でどんな問題が発生しているのか教えてもらえないでしょうか？

DataSourceとしてHikariCPのようなライブラリを使うと期待する挙動にできるかもしれません。
https://github.com/brettwooldridge/HikariCP/blob/HikariCP-3.2.0/src/main/java/com/zaxxer/hikari/pool/PoolBase.java#L210

[2018-07-09 16:09] scnmztn commented on #233
迅速なリプライありがとうございます。

まず、当方では Doma2 + HikariCP + MySQL JDBC という組み合わせで Doma2 を利用させていただいております。

Doma トランザクションにおける autoCommit: false は正常に機能しており、クリティカルな問題が起きているわけではないのですが、パフォーマンス上の懸念があります。

まず、 MySQL JDBC ドライバーでは Connection#setAutoCommit によりデータベースサーバーに向けて SQL ステートメントが発行されるケースがあると認識しています ("SET autocommit=1" あるいは "SET autocommit=0") 。

現在の実装では HikariCP のコネクションプールにより Connection の再利用はできており、またご指摘のとおり autoCom

[2018-07-09 22:48] nakamura-to commented on #233
ありがとうございます。懸念されている背景が良くわかりました。

もし可能であれば、MySQL JDBCでどれくらいのオーバーヘッドが発生しているのか検証していただくことはできますか？検証結果を基に修正を検討できればと思っています。

[2018-07-23 07:01] scnmztn commented on #233
返信遅くなりました。
Connection#setAutoCommit のオーバーヘッドについて当方環境でざっくり計測してみましたのでご報告します。

**計測条件**
トランザクション開始, クエリ１件 (空テーブルに対する select 句, where 条件なし) 発行, トランザクション終了 を１セットとして所要時間を計測しました。 Connectino#setAutoCommit のオーバーヘッドあり／なしをそれぞれ１００回試行し、異常値は排除して平均所要時間を算出しました。
HikariCP を利用しているため物理コネクションの生成コストは含まれない認識です。

**計測結果**
- オーバーヘッドあり: 21.4ms
- オーバーヘッドなし: 14.6ms

絶対時間として深刻なレベルではありませんが、全体オーバーヘッドのうち setAutoCommit の占める割合がかなり

[2018-07-26 12:51] nakamura-to commented on #233
検証どうもありがとうございます 😃
将来のバージョンでautoCommitの状態をトランザクション開始前の元の値に戻すようにしたいと思います。
もしPRいただけるならよろしくお願いします。

[2018-07-30 08:02] nowsdt opened #237 "help about the use of [ @select(strategy=SelectType.STREAM]"
`@Select(strategy = SelectType.STREAM)
BigDecimal selectByNameAndSalary(String name, BigDecimal salary, Function<Stream<Employee>, BigDecimal> mapper);`

I want to user @Select(strategy = **SelectType.STREAM**),but how to define the parameter mapper,and how to write the sql file.

`    @Select(mapKeyNaming = MapKeyNamingType.LOWER_CASE)
    public List<Map<String, Object>> getPatientCrfDetailValue

[2018-07-30 13:14] nakamura-to commented on #237
You can rewrite your method as followings:

[code]

`@Select(SelectType.STREAM)` has nothing to do with the sql file. Write is as usual.

[2018-07-30 22:41] nakamura-to commented on #237
Let me show you a simple example.

Dao:

[code]

Service:

[code]

The mapper is used to handle a large amount of data without out of memory error.
Pass it as a lambda expression from service to dao.

[2018-07-30 22:58] nowsdt commented on #237
@nakamura-to
 got it, thank you！

[2018-07-30 22:58] #237 closed

[2018-08-26 15:08] yonekawa opened #238 "How can I use an interface as @ExternalDomain for Iterable parameter in Dao?"
For example:

[code]

When I call `findBarByFoo`, I encountered [DOMA2118].

[code]

I can use the interface if not Iterable: `List<Bar> findBarByFoo(Foo foo)`.
And I can use the interface for Entity attribute.

I guess that [this code](https://github.com/domaframework/doma/blob/bbf193b23437493f0b814a314cc2e7118dc817f8/src/main/java/org/seasar/doma/internal/jdbc/sql/NodePreparedSqlBuilder.java#L32

[2018-08-28 14:57] nakamura-to commented on #238
OK, I see your situation.

I'm going to fix it this weekend.
The fix will be included in Doma 2.x.

[2018-09-02 14:27] nakamura-to commented on #238
Doma 2.19.3 is out 😄
The fix is included in it.
Try it and let me know if it doesn't work.

[2018-09-02 14:27] #238 closed

[2018-11-07 04:20] MakotoKinoshita opened #246 "Webサーバ固有の特殊なスレッドからDomaを利用すると、ScalarExceptionが発生"
Webサーバ固有の特殊なスレッドからdoma-2.19.2を利用すると、ScalarExceptionが発生します。

## 再現環境
* Websphere Application Server traditional v9.0 Netowork Deployment (※以降WASと略)

## 事象
WASのDistributedObjectCacheという動的キャッシュ機能を利用し、かつ、オブジェクトの変更を`ChangeListener`というリスナーが呼び出される特殊な実装があります。

上記のリスナーは、WASから呼び出されるのですが、よくあるWebコンテナやEJBコンテナのスレッドではなく、DRSThreadPoolという特殊なスレッドから呼び出されます。

上記の特殊なスレッドからdomaのSelectが実行された場合に、後述のスタックトレースと例外が出力されます。

少

[2018-11-07 12:54] nakamura-to commented on #246
報告とプルリクエストありがとうございます。

原因はご指摘の通りで間違いなさそうです。いただいた修正は取り込む方向で検討しますが、Domaのコードを修正せずに対応する方法もありますので、共有させてください。

次のようにします。

1. プルリクエストいただいような実装を持つ `org.seasar.doma.jdbc.ClassHelper` の実装クラスを作成する
2.  `org.seasar.doma.jdbc.Config` の実装クラスの `getClassHelper` で上記の `ClassHelper` 実装クラスのインスタンスを返す

もしよければお試しください。

[2018-11-07 16:09] makotok commented on #246
回答ありがとうございます😊
一旦は自前でClassHelperを用意してみます。

ClassLoaderは奥が深すぎて何が適切なのか難しいところですね。
Webサーバ上だとコンテキスト毎にClassLoaderが違ったりする上に、今回のようなパターンもあるので、必ずしても現在のスレッドのContextClassLoaderからクラスをロードすれば良いのかよく分かっていないです。

[2018-11-08 22:16] nakamura-to commented on #246
絶対の正解はないのかもしれないですね。

ClassHelperを導入してロード方法をカスタマイズできるようにしたのは、PlyaframeworkだとClass.forNameは使えないという報告があったからで、ContextClassLoaderから読み込むようにしたのはSpring Dev Toolsに対応するためでした。

[2019-01-19 13:56] kakusuke opened #275 "for文内で配列を使いたい"
`for`文内で`Iterable`だけしか使えないのが時々不便に感じることがあります。
例えば、enumの値すべてを直接回したい場合、配列が使えないのでリストを返す`valueList`メソッドを定義し、それを呼び出すなど手間が必要になります。
拡張for文と同様、配列も回せるようにしたいです。

[2019-01-19 15:33] nakamura-to commented on #275
Listよりも配列が便利なケースが思い浮かびませんでした。
お手数ですがサンプルコードを見せもらえないでしょうか？

[2019-01-20 01:40] kakusuke commented on #275
ごくたまにあるのですが、直近では、Enumのnameの値をDBに登録するポリシーのシステムで、enumの順番に並び替えをしようとしたときにありました。
基本的にはListでいいのですが、配列も受け付けていただけるとありがたいです。

[code]

[code]

[2019-01-20 09:36] nakamura-to opened #281 "Support auto removal of ORDER BY and GROUP BY clauses"
Suppose the following SQL template:

[code]

If `gradeList` is empty, we should remove the `ORDER BY` clause from generated SQL statement.

[2019-01-20 13:05] kakusuke commented on #275
ありがとうございます。
せっかくなので、僕が最後まで対応したいです。
よろしくおねがいします。

[2019-01-20 13:10] nakamura-to commented on #275
了解です 😄
わからない点などあればなんでも聞いてください。（ここでもgitterでも構いません）

[2019-01-23 14:11] kakusuke commented on #275
ありがとうございます。
2点ほど。

https://github.com/domaframework/doma/pull/276/files#diff-54d032887af1bb9ce5ebec9c7207463eR69
こちらのテストを書いたのですが、何故か`Elements#getTypeElement`に`Stream`を渡すタイミングでNPEが起こっていました。
JavaCompilerのcloseが先に発生しているようでしたが、それ以上追っかけられていません。
ただ、デバッグ中に何故か`ctx.getTypes().getTypeMirror(Collection.class)`を行うと取得できることを発見しまして、ひとまず入れています。
原因になにか心当たりはありますでしょうか。

テスト上はメソッドの引数に配列を渡しても大丈夫のはずですが、実際に使ってみたところパラメータ

[2019-01-24 14:19] nakamura-to commented on #275
あります！
Annotation Processing の中核に ``ProcessingEnvironment`` というクラスがありますが、Domaがコンパイル後に得られた ``ProcessingEnvironment`` のインスタンスを使ってテストをしているのが原因のようです。
コンパイル最中のインスタンスを使ってテストをすれば問題ないことがわかりました。
近日中に私の方でテストの仕方を変更しますので、その変更を取り込んでもらえないでしょうか？

バインド変数に紐づけられることを教えてあげる必要があります。このクラスで ``visitArrayCtType`` して ``true`` を返してください。
https://github.com/domaframework/doma/blob/2.22.0/src/main/java/org/seasar/doma/internal/

[2019-01-24 22:46] nakamura-to commented on #275
#283 で対応しました。このコミットを取り込んで試してもらえませんか？Annotation Processingに依存したテストコードの書き方を少し変えていますので、それらに合わせてみてください。

[2019-01-25 08:46] #233 closed

[2019-01-26 12:10] kakusuke commented on #275
ありがとうございます！
試してみます

[2019-01-26 12:13] #281 closed

[2019-01-27 16:17] kakusuke commented on #275
遅くなりました
おそらく対応できたかと思います
よろしくおねがいします

[2019-02-12 13:26] tasuku-s opened #302 "Insert時にIDが挿入もしくは更新されない"
いつもお世話になっております。
少々不可解な挙動があったので報告させていただきました。
DBにはPostgreSQLを利用しています。

以下のようなエンティティとDaoを定義していたとします。

[code]

このとき、`Hoge.id` に前もってシステム外で定義した値を入れた状態で`HogeDao.insert`に渡すと、
 insert文にidが含まれず、エンティティにも新規生成されたIDがセットされないようです。

期待される動作としては、

1. idが指定されていた(nullでも0未満の値でもない)場合、insert文にidが含まれる
2. 問答無用で新規作成されたIDがエンティティにセットされる

のどちらかかなーという気がしますが、いかがでしょうか？

ちなみに、`@BatchInsert`の場合は前者の挙動になるようです。

[2019-02-12 15:05] nakamura-to commented on #302
`GenerationType.IDENTITY` の指定がある場合、今はデータベースで生成させることを前提としてinsert文にidを含めていません。PostgreSQLでは確かそのようなSQLを発行しない限りデータベース側で生成されなかったと認識しています。Domaはinsert文を発行後に別のSQLでidを取得しているはずですが、エンティティにはすでに別の値がセットされているの上書きをしていないのだと思います。

PostgreSQLでは、そのようなSQLを発行してもエラーにならないですか？この辺りの挙動はデータベースごとに異なっていた気がしますので悩ましいですね。`@BatchInsert`の挙動に合わせると1が望ましい気がしますが、複数のデータベースで挙動を合わせるなら2がいいような気もします。

#98 の対応でDomaがデータベースからidの値を一括で取得した後にinsert

[2019-02-13 02:36] tasuku-s commented on #302
はい、PostgreSQL でIDENTITYに対応するカラムを作る場合、
`PRIMARY KEY`の型を`SERIAL`にしますが、その場合
`id INTEGER NOT NULL DEFAULT nextval('hoge_id_seq') PRIMARY KEY`と同値になります。
（`hoge_id_seq`というシーケンスも同時に生成されます)
https://www.postgresql.jp/document/10/html/datatype-numeric.html#DATATYPE-SERIAL

なので、idカラムがない場合には次のシーケンス値が入り、idカラムがある場合は指定されている数値が入ります。
ただ、後者の場合にはシーケンス値がインクリメントされないので、現在シーケンスの値が1の場合にid:1のデータを直接入れると、次回インサート時にIDが重複してコケます

[2019-02-13 13:27] nakamura-to commented on #302
なるほど。ということだと1の案を採用したとしても望ましくない挙動を引き起こしうるのですね。

そうです。SQL Serverの場合、自動生成されるidを明示的にセットするにはinsertの実行前に別のコマンドを発行しておかないとエラーになります。
https://docs.microsoft.com/ja-jp/sql/t-sql/statements/set-identity-insert-transact-sql?view=sql-server-2017

（ちなみに、エラーを回避するためにこのようなコマンドをDomaが勝手に発行するのは望まれていない気がします）

念のため確認させてもらいたいのですが、上記のようなことを実際のアプリケーションで実現したくて困っているわけではないですよね？ エンティティに `GenerationType.IDENTITY` の設定をしているのなら、値を

[2019-02-13 14:22] tasuku-s commented on #302
実は、実際のアプリケーションで実現しております・・・(回避策はあるので困っているわけではありません)
やりたかったことは、「サービススタート前に事前に集めたデータをアプリケーションを通して入れておく(ちょっと複雑な処理が入るのでDB直入れは避けたかった)」です。
シーケンスのスタート値を 100000 としておいて、それ未満の値を初期データ用にとっておき、ID固定で処理できるようにしようとしました。
その際、`@Insert`でやるとうまくidが入らずエンティティに上書きもされず、`@BatchInsert`でやるとidが入ることに気づいた、という経緯です。

[2019-02-14 13:44] nakamura-to commented on #302
なるほど、実際に使われているんですね。
IDを固定してinsertしたいことはありますよね。私も経験があります。

もし綺麗に実現するならですが、 `GenerationType.IDENTITY` の指定がないエンティティクラスにデータをコピーしてinsertしてもいいかもしれないですね。（別のクラスを用意するのが少し手間ですが）

このissueの扱いですが以下の2択かなと思っています。

1. 仕様ということで特に何も対応せずこのままクローズ
2. 問答無用で新規作成されたIDがエンティティにセットされるように修正する

2番目の選択肢は、そういう挙動になったところで必ずしも利点があるのか不明です。もしこっちを選ぶならもう少し利点を明確化したいなと感じています。

[2019-02-15 06:05] tasuku-s commented on #302
そうですね、1で大丈夫かと思います。
ありがとうございました。

[2019-02-15 06:05] #302 closed

[2019-05-14 14:47] agentgt opened #315 "Use JPA annotations or maybe generate POJOs from database"
I really like the idea of Doma. Its like almost the perfect ORM that I have always wanted particularly the testable bi-directional SQL templates. In fact I had wanted this so bad I had partly implemented my own very incomplete parser here a long time ago: https://github.com/agentgt/jirm/tree/master/jirm-core

However there are couple of reasons why we don't use it:

 1. The library doesn't generat

[2019-05-17 22:47] nakamura-to commented on #315
Thanks for your comment. I'm glad to know JIRM and Hickory.

If you can accept Doma annotations, I think there are other ways.

The first way is to use [domaframework/doma-gen](https://github.com/domaframework/doma-gen). Doma-Gen generates POJOs for Doma.

The second way is to customize the jOOQ generator to use Doma annotations. I think you can override the following methods:
https://github.com/j

[2019-05-19 12:11] agentgt commented on #315
Oh I saw doma-gen and thought it was an old apt processor.

I didn’t see doma-gen mentioned in the Doma2 doc but this fixes most of the issues I have.

The JPA annotation stuff was more of a nice to have and not that important.

[2019-05-19 12:11] #315 closed

[2019-06-06 13:41] opengl-8080 opened #316 "What should we using ResultSet directly?"
Doma2 で `ResultSet` を直接利用したい場合、 `@SqlProcessor` を使って次のように実装するのが正しいのでしょうか？

[code]

テンプレート処理は Doma2 に任せたいと考えています。
この場合、 SQL は `getFormattedSql()` で取得したものを使うことで問題ないのかが気になっています（`PreparedStatement` のプレースホルダを使わないことによるセキュリティリスクがあったりするのか、など）。

よろしくお願いします。

[2019-06-07 11:30] nakamura-to commented on #316
もしSQLテンプレートがバインド変数を持っているとしたら、`getFormattedSql()` から返されるSQLは安全ではないです。`getRawSql()` と `PreparedStatement` を使うのを推奨します。

[code]

[2019-06-07 12:43] backpaper0 commented on #316
少し複雑ですが`Config.getCommandImplementors`をoverrideしてカスタマイズした`SelectCommand`を使って`ResultSet`を処理することも出来ると思います。

[SelectCommand.handleResultSet](https://github.com/domaframework/doma/blob/2.24.0/src/main/java/org/seasar/doma/jdbc/command/SelectCommand.java#L94-L104)をカスタマイズする感じです。

[2019-06-07 16:07] opengl-8080 commented on #316
@nakamura-to

ご回答ありがとうございます。
やはり、安全ではないんですね。

ちなみに、 `PreparedSql` の `getParameters()` で取得できる `SqlParameter` は、単純にバインドされる順番に並んでいるわけではないのでしょうか？

できれば、次のような `ResultSet` を受け取るだけのインターフェースを作れれば、使い勝手が良いかなと思ってたりするのですが。

[code]

@backpaper0

`ResultSetHandler` が何をしているのかと、 `return` している `Supplier<RESULT>` がどういうものになるべきなのかがちょっと理解できていないので、カスタマイズはやや抵抗がありますねー。

[2019-06-07 22:26] nakamura-to commented on #316
並んでいます。

なるほど。あくまで `ResultSet` に直接触れれば良いのですね。 `@SqlProcessor` はテンプレート処理された後のSQLをさらに手を入れたかったり、 `PreparedStatement` がつかえずリスク承知で `Statement` を使うしかなかったりした場合を想定した機能なので、ちょっとミスマッチかもしれませんね。

ちなみに、 `ResultSet` に直接触りたい理由はどんなものでしょうか？理由によっては別の方法を提案できるかもしれません。

[2019-06-09 06:28] opengl-8080 commented on #316
あら、そうでしたか。
ちょっと試したらうまく動作しなかったので違うのかなと思ってました。
勘違いしてるっぽいので、もうちょっと詳しく確認してみます。

`ResultSet` を直接使用したい理由は、 JasperReports という帳票ライブラリの入力に使用したいためです。（[JRResultSetDataSource](http://jasperreports.sourceforge.net/api/net/sf/jasperreports/engine/JRResultSetDataSource.html#JRResultSetDataSource-java.sql.ResultSet-)）

JRXML に SQL を組み込めることは知っているのですが、 SQL テンプレートの書きやすさやメンテのしやすさから、検索までは Doma2 にしてもらって、 `ResultSet` だけ

[2019-06-10 12:35] nakamura-to commented on #316
並び順はバインド順なんですが、データ構造がDomaに都合のいい形なので `PreparedStatement` にバインドできるデータを取り出すのに工夫が必要かもしれません。

なるほど。JasperReports使ったことないので推測で書きますが、 [JRDataSource](http://jasperreports.sourceforge.net/api/net/sf/jasperreports/engine/JRDataSource.html)を見るといろんな実装があるようなので、ResultSetではなくJavaBeansとかMapを渡す方法を検討してもいいかもしれませんね。JavaBeansやMapであれば `@SqlProcessor` を使わないで対応できそうです。（通常の `@Select` で対応できそうです）

[2019-06-11 10:10] kamitath opened #317 "How can I get AutoIncrement ID on Insert with SQL files"
Doma2ではSqlFileInsertQueryの場合generateIdで何もしないためEntityにAuto increament の IDが付与されませんが、Insert時にsql fileを利用した状態でAuto increment の IDを取得する推奨の実装はありますでしょうか？
もし実施したい場合はjdbcを直で使って自前実装するしかないでしょうか？
以上お手数ですがよろしくお願いいたします。

[2019-06-11 12:37] opengl-8080 commented on #316
JavaBeans より `ResultSet` のほうがマッピングの処理がない分、効率的だと勝手に思いこんでました。
今日ためしにメモリ消費や処理時間を確認したところ、どちらもほとんど変わらない結果になりました。

なので、おっしゃられている通り JavaBeans の `List` を返す通常の `@Select` で対応しようと思います。
（issue も close させていただきます）

お騒がせしました。
ありがとうございました。

[2019-06-11 12:37] #316 closed

[2019-06-11 13:31] nakamura-to commented on #317
サポートしていないです。

どうしてもSQLを自前で組み立てたいならそうなりますね。

ただ、次の2点は改めて検討してみてもいいと思います。
- IDの採番にauto incrementではなくsequenceを使う
- `@Insert(sqlFile = false)` を使う

sql fileを使ってinsert文を組み立てたい理由は何でしょうか？背景を教えてもらえると別の方法を提案できるかもしれません。

[2019-06-11 23:58] kamitath commented on #317
ご返答ありがとうございます。

sql fileを使ってinsert文を組み立てたい理由としては、水平分割テーブル構造にDBがなっていまして、
`insert into data_/*# tableNo */_tbl ( ~~~`
のような形でtable の 番号を動的に変化させたinsert文を発行したいというのが理由になります。

以上よろしくお願いいたします。

[2019-06-12 00:19] nakamura-to commented on #317
なるほど。
ちょっと愚直ですが、テーブルの数だけEntityやDaoメソッドを用意してしまうのは一つの方法です。

[code]

もう一つはinsert文の自動生成ロジックを上書きしてテーブル名称を差し替えてもいいと思います。insert文のテーブル名を設定しているのはここです。
https://github.com/domaframework/doma/blob/2.24.0/src/main/java/org/seasar/doma/jdbc/query/AutoInsertQuery.java#L123
`org.seasar.doma.jdbc.QueryImplementors#createAutoInsertQuery` で `AutoInsertQuery` のサブクラスを返す感じにしてもらえれば実現できると思います。
今はinsert文の自動生成ロジック全体を上書きしても

[2019-06-12 00:32] kamitath commented on #317
ありがとうございます！
試してみます！

ご回答ありがとうございました！
解決したのでCloseいたします。

[2019-06-12 00:32] #317 closed

[2019-06-19 02:45] LAngelsFree opened #318 "How can I use myself entity to create daoImpl"
I have a question about Doma2.
 When I set up dao.package into Annotation Processing,【 _Entity 】【 daoImpl 】were both created.So How can I used myself entity to just create【 daoImpl 】instead of both created.
 Thanks~

[2019-06-19 13:05] nakamura-to commented on #318
It's almost impossible. Both are essential parts of Doma.
Could you show me an example code?
Then I could say something useful to you.

[2019-08-06 16:02] agentgt opened #319 "Eclipse M2E APT processing error while trying to find SQL resources"
For some reason the Eclipse compiler has issues with finding /META-INF sql files.

The error:

[code]

(I redacted the real path with `--`).

It reports an IDE error (red X) on DAO methods that it can't find the SQL files even though when a regular compile is done with Maven it finds the sources just fine (ie mvn package). And yes the annotation processing does run during a regular maven build.

T

[2019-08-06 16:23] agentgt commented on #319
I will test on a newer version of Eclipse. I think this is an Eclipse bug based on the commit history of:

https://github.com/eclipse/eclipse.jdt.core/blob/master/org.eclipse.jdt.apt.pluggable.core/src/org/eclipse/jdt/internal/apt/pluggable/core/filer/IdeFilerImpl.java

[2019-08-07 14:13] nakamura-to commented on #319
Doma annotation processors expect that the SQL files and java classes are placed in the same classpath. Are the SQL files copied to the output folder?
If you see the inclusion pattern `**/*.java`as following, remove it:
https://cdn-ak.f.st-hatena.com/images/fotolife/t/taedium/20130820/20130820231548_original.png

By the way, I think that the following bug causes the exception:
https://bugs.eclipse

[2019-08-07 21:18] agentgt commented on #319
The SQL files are copied to the output folder but they are located in:
`src/main/resources` as per Maven conventions. Like I said everything works fine when I use maven to do the build.

I upgraded to the latest Eclipse 4.12.

The issue is that the Eclipse APT compiler only looks in `target/generated-sources/annotations` and `src/main/java`.   It does not look at `src/main/resources` despite it be

[2019-08-08 13:04] agentgt commented on #319
I tried doma-tools Eclipse plugin to see if that would help mitigate but I got an exception https://github.com/domaframework/doma-tools/issues/1

However I think it might have worked if the exception didn't happen as Doma Tools might be copying the resource. Not sure entirely on that but I do know the above copy resources maven plugin hack that I mentioned does not work well with Doma Tools as it

[2019-08-08 22:22] nakamura-to commented on #319
I tried Eclipse 4.12 and m2e-apt 1.5.2.
They work fine with Doma 2.24.0.

No. `src/main/resources` is not the output folder, but source folder.

In most case, the output folder is `target/classes`. Are the SQL files are copied to `target/classes`? Also, are the class files copied to same `target/classes`? They must be copied to same output folder.
I show you my sample project structure as followin

[2019-08-08 23:19] agentgt commented on #319
I think this is a miscommunication. What I meant is the `src/main/resources` get copied to `target/classes`. If you put resources in `src/main/java` it will not work without special configuration. That is what I meant.

I can show you the exact same picture you have there and I still have the red X on the dao method.

The sql files are in the target/classes (I'm seriously debating whether to send

[2019-08-08 23:39] agentgt commented on #319
Yes I just tried on a fresh maven multi module project and same problem. I'll put a screen shot soon of my `target/classes` in the navigator if you really  don't believe me.

Anyway did you make sure to maven clean build through eclipse? Not the command line maven rebuild but in Eclipse do a "Alt-F5" = *Maven -> Update Project*.

[2019-08-08 23:53] agentgt commented on #319
When you get a chance send me that project you made zipped up including the
`.classpath` and `.project` and `.settings`.

[2019-08-09 17:28] agentgt commented on #319
Alright I figured out the issue and I can see why it probably worked for you.

Heres the deal if you touch the Dao  by saving it (files marked w/ `@Dao`) it will find it.

However if you then *"Alt-F5" = Maven -> Update Project* it will say the resource isn't found.

I tested this on several Eclipses and other machines even. I can zip up a bare project.

This is most likely an Eclipse/M2E bug.

Ag

[2019-08-10 02:25] nakamura-to commented on #319
Thank you. I can reproduce the behavior.

I agree with you.

After pressing *"ALT-F5" on the project, you can find that Java Build Path settings are changed as followings:

<img width="943" alt="java_build_path" src="https://user-images.githubusercontent.com/404633/62816322-298ef500-bb60-11e9-86ea-51a0bae8a094.png">

Try to remove the "Excluded: **" entry from `src/main/resources`. Then it will wo

[2019-08-22 20:26] agentgt opened #320 "Domain mapping using ExternalDomain of Java String[] (arrays) fails"
Given the external domain converter:

[code]

I get a compile time error of:

[code]

Unfortunately the domain object I'm using is generated by jOOQ which is correctly mapping postgresql varchar ARRAYS to String[].  Regardless the annotation processor shouldn't incorrectly assume/cast to a TypeElement on line 92.

(I did customize the jOOQ generator to generate the correct annotations BTW but it i

[2019-08-22 22:49] nakamura-to commented on #320
Thanks for your feedback.
I'll try to fix this issue.

[2019-08-25 01:15] #320 closed

[2019-08-25 12:53] nakamura-to commented on #320
We've fix this issue.
Try version 2.25.1.
https://search.maven.org/artifact/org.seasar.doma/doma/2.25.1/jar

[2019-11-13 00:48] suzukitadashi opened #327 "where文の中にifコメントがあるとページ遷移時にSQLエラーになる"
DbサーバーはDb2を使っています。

実行したいSQLイメージは以下の通りです。
渡した条件に応じてソート順が変更される想定です。

[code]

しかし、このパターンのSQLだと、このようなSQLが生成されて該当するカラム（tbl1.zzzzやtbl1.xyz）が無いとエラーになります。

[code]

order byにif条件が入らないときは正常に動作することを確認しました。

[code]

正常に動くパターンの時は以下のSQLが生成されていました。

[code]

order byで指定する項目に、テーブルIDや別名を入れないでカラム名だけにすれば回避できるのですが、doma2側で対応できないでしょうか？

[2019-11-14 14:27] nakamura-to commented on #327
今は対応していないですが、対応できそうな気がしますね。
対応する方向で検討します。

[2019-11-20 02:56] dodangquan opened #328 "Feature Request: Add support for spatial data types"
## Feature Requests

Please consider supporting database spatial data types (MySQL spatial or PostGIS).

[2019-12-28 15:14] #327 closed

[2019-12-28 23:41] #318 closed

[2019-12-29 01:41] nakamura-to commented on #328
We have never used spatial data types.
We need helps to support them.

[2020-01-19 01:33] jirokun opened #332 "Needs default constructor to AbstractDao to use quarkus"
I'm working on quarkus framework using CDI and Doma2.
CDI requires default constructor to use constructor injection.
But AbstractDao and generated source code do not have default constructor.

Details as follows
https://quarkus.io/blog/quarkus-dependency-injection/

[2020-01-19 04:51] nakamura-to commented on #332
OK.
We are going to generate a no-args constructor if a Dao interface is annotated with `@ApplicationScoped`:

[code]

[code]

See #333.

However, should we consider not only `@ApplicationScoped` beans but also all normal scoped beans? In other words, should we check `@javax.enterprise.context.NormalScope`?

Please let us know what you think.

[2020-01-19 05:02] nakamura-to commented on #332
Ah, should `@ApplicationScoped` annotated not for a Dao interface, but for a generated code？

[2020-01-19 11:54] jirokun commented on #332
I want to use with following way.

[code]

I believe that supporting ApplicationScoped is sufficient in most cases.
In addition, the Dependent class is available now.

[code]

[2020-01-19 12:59] nakamura-to commented on #332
Thanks for your reply. We'd like to support your usecase.

[2020-01-19 13:37] nakamura-to commented on #332
@jirokun We have a question.

Should we provide a default constructor for "only AbstractDao" or "both AbstractDao and generated source code"?

If "only AbstractDao" requires a default constructor, it's very simple to change Doma.

[2020-01-19 14:03] jirokun commented on #332
Probably it need constructors for AbstractDao and GeneratedSource.

Here is the source code I'm making.
https://github.com/domaframework/doma/pull/335

[2020-01-19 14:12] nakamura-to commented on #332
Thanks for your answer and pull request.
We are considering to include #334.

[2020-01-20 15:02] nakamura-to commented on #332
The super gentleman @backpaper0 gave me an advice:
https://twitter.com/backpaper0/status/1219014715902287872

He said that only AbstractDao should have a default constructor.
We merged #336.

[2020-01-20 23:30] nakamura-to commented on #332
We found #336 didn't work well.
So we accepted #337.

[2020-01-21 13:39] nakamura-to commented on #332
We remove Dependent annotation support at 70d320ab8f13a91bebf427986ab41656fa34f534.
A default constructor is generated only when a DaoImpl is annotated with ApplicationScoped annotation.

[2020-01-22 22:25] #332 closed

[2020-01-26 01:29] nakamura-to commented on #332
You can specify the ApplicationScoped annotation to generated code with `@AnnotateWith` as flollows:

[code]

The generated code is as follows:
[code]

[2020-03-18 03:36] yoshy0407 opened #345 "基本型を複数件返却するストアドファンクションの戻り値がnullになる"
概要
---
以下のような基本型を複数件返却するストアドファンクションをDaoインターフェースに定義して実行すると、戻り値がnullになって返却されます。
（ストアドファンクションは基本型を複数件返却するものを指定しています。）

[code]

これは仕様でしょうか？それともバグでしょうか？ご確認お願いします。

動作環境
---
Oracle JDK 1.8.0_202
Doma 2.27.1
Oracle Database

## 補足
私の方でも処理結果を追ってみたのですが、`ScalarResultListParameter#getResult`で`null`を返却しているからではないかと。
（ザーッと見た感じだと、`DomainResultListParameter`なども上記クラスを継承しているので、影響があるのではないかと思います。）

[2020-03-18 08:14] #345 closed

[2020-03-18 08:23] nakamura-to commented on #345
フィードバックありがとうございます。これはバクですね。

補足で指摘いただいた通り、`ScalarResultListParameter#getResult`で`null`を返しているのが問題でした。

[2020-03-18 13:55] nakamura-to commented on #345
修正をした Doma 2.28.0 をリリース済みです。

[2020-03-19 00:10] yoshy0407 commented on #345
ありがとうございます。
2.28.0を利用させていただきます

[2020-04-15 01:16] chichi1091 opened #362 "Entityでbuildエラー"
## 概要
EntityクラスをBuildするとコンパイルエラーが発生してしまう

## 環境
- Amazon Corretto 8
- kotlin 1.3.71
- doma 2.29.0
- doma-spring-boot-starter 1.2.1
- MySQL

## Entity
[code]

## StackTrace
[code]

[2020-04-15 09:55] nakamura-to commented on #362
私の環境では再現できませんでした。
少し問題の切り分けをさせてください。

まず、以下のリポジトリを問題が発生している環境にcloneしてください。
https://github.com/domaframework/kotlin-sample

次に、ディレクトリを移動してください。
[code]

その後に、以下のコマンドを実行してみた場合に問題なくビルドが成功するでしょうか？
[code]

ビルドが成功したらサンプルで提示してもらった `Member` クラスをクローンした kotlin-sample プロジェクトの src/main/kotlin/sample ディレクトリに定義してみて再度以下のコマンドを実行してみてください。ビルドは成功するでしょうか？
[code]

[2020-04-15 10:35] chichi1091 commented on #362
## 問題が発生している環境でサンプルをビルド
問題が発生している環境でビルドを行った結果、以下が発生しました

[code]

## サンプルプロジェクトでビルド
問題なくビルドが通りました

環境に問題がありそうですのでサンプルプロジェクトのbuild.gradleと比較してみようと思います

[2020-04-15 10:51] chichi1091 commented on #362
無事解決することができました
`implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8"` が抜けていたためでした
大変申し訳ありません、お手数お掛けしました

[2020-04-15 10:51] #362 closed

[2020-04-15 11:35] nakamura-to commented on #362
解決したようでよかったです。

ただ `implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8"` がない場合に意味不明なエラーになってしまうのは困り物ですね。

[2020-04-24 01:42] mizo432 opened #383 "Doma2のListをバインドできない？"
Doma2を利用しての開発中に出ている意味不明なコンパイルエラーです。
コンパイルエラーメッセージを読んだのですが、なにかヒントがあれば教えてください。
パラメータはイテラブルまたは配列のさぶたいぷでなければならないが、java.util.Listです。
というように読み取ったのですが、読み取り方が間違っていますか？
‘‘‘
domaVersion = '2.29.0'

エラー: [DOMA4161] Failed to verify the SQL template "META-INF/net/jagunma/chikusan/model/dao/bikou/BikouEntityDao/findOneBy.sql" on line 16 at column 113. The parameter type that corresponds to the expression "crit

[2020-04-24 01:53] nakamura-to commented on #383
"criteria.bikouIdCriteria.includes" に対応するクラスやフィールドの定義を見せてもらってもいいでしょうか？関連するところの抜粋だけで良いです。

[2020-04-24 02:26] mizo432 commented on #383
抜粋です。

Getterはあります

[code]

Getterはあります

[code]

[code]

[2020-04-24 03:02] mizo432 commented on #383
AbstractCriteriaは最近足したので、影響がでているのかも・・・

[2020-04-24 03:39] nakamura-to commented on #383
`List<O> includes` の`O`ような型パラメータを型引数を持ったListをIN句にバインドするのはサポートしていません。 `List<String>` の`String`など型引数がDomaがサポートする具体的な型であれば問題ありません。

エラーメッセージがわかりにくい点については改善したいと思います。

[2020-04-24 03:58] mizo432 commented on #383
型パラメータの件、承知しました。
ありがとうございます。

[2020-04-24 10:09] nakamura-to commented on #383
もう少し調べたところ、今回のケースは対応できそうなことがわかりました。
つまり、`List<O>`の`O`が実際は`Long`だということが判定できました。
次のバージョンでサポートしたいと思います。

[2020-04-24 11:46] #383 closed

[2020-05-13 03:14] ldcuong opened #420 "Cannot compile class entity generated by doma-processor in version > 2.28.0"
My eclipse max 8GB memory but cannot finish compiler task.
Out of memory error when compile entity from .apt_generated.
Can you optimize generated class by doma-processor?

My project have 199 entity.
Each entity have min 200 column and max 500 column.

[2020-05-13 09:33] nakamura-to commented on #420
Hi. Could you tell me more details?

- Which version of Java do you use?
- Which version of Eclipse do you use?
- Do you build your project with Gradle? And does it work without OutOfMemoryError?
- Where do you think the bottleneck is?
  - Is the constructor of the generated class too long?

[2020-05-13 10:12] ldcuong commented on #420
Thank you for reply. @nakamura-to

Which version of Java do you use?
-> I using Java 8
Which version of Eclipse do you use?
-> Eclipse version 2018-09(4.9.0) Build 20180917-1800
Do you build your project with Gradle?
-> Yes I build project with Grade version 5.5.1
And does it work without OutOfMemoryError?
-> It's working on version DOMA 2.19.2 but OutOfMemory on latest version (2.34.0)
Where do y

[2020-05-13 13:30] nakamura-to commented on #420
Thanks for your information.

I was able to reproduce the problem.
I will investigate the cause.

[2020-05-14 02:30] hogewest opened #421 "Domainクラスへの変換に失敗する"
## 概要
Entityに列挙型のDomainをメンバ変数として定義し、かつアノテーションを定義した状態でコンパイルし検索を実行すると、カラム値からDomainクラスへの変換に失敗しました。

Eclipse からコンパイルした場合のみ発生し、Gradle からコンパイルした場合は問題が発生しませんでした。

## 環境
* Java Version: 11.0.7
* Eclipse Version: 2018-12 (4.10.0)
* Doma Version: 2.34.0

## 再現したソース
https://github.com/hogewest/simple-examples/commit/0ebfb3ba5dfe352def03fb34866682fecd86a1cf

[@HogeAnnotation](https://github.com/hogewest/simpl

[2020-05-14 02:35] hogewest commented on #421
理由が分かりませんが、[ここ](https://github.com/domaframework/doma/blob/master/doma-processor/src/main/java/org/seasar/doma/internal/apt/cttype/CtTypes.java#L230) での `getAnnotation` の返り値が Eclipse でコンパイルした場合のみ null が返ってくるのが問題のようです。

[2020-05-14 15:44] #420 closed

[2020-05-14 15:49] nakamura-to commented on #420
I found the ClassName::new syntax was slow.
This fix will be included in next version.

[2020-05-14 15:56] ldcuong commented on #420
@nakamura-to
Wow, very fast.
Thank you for your hard working.
I waiting next version for using Criteria API.

[2020-05-14 23:03] #421 closed

[2020-05-14 23:05] nakamura-to commented on #421
報告ありがとうございます。`ElementType.TYPE_USE`に関するEclipseの不具合だと思われますが、回避策を入れておきました。

[2020-05-15 01:28] hogewest commented on #421
対応ありがとうございました:-)

[2020-05-21 14:07] mahaker opened #429 "ドメインクラスのaccessorMethodが必須なのはなぜでしょうか？"
いつも便利に使わせていただいています！ありがとうございます。
ドメインクラスのaccessorMethodについて質問させていただきます。

### 質問

accessorMethodが必須である理由はなんでしょうか？
ドメインクラスのメンバーは公開しないようにしたいと思っています。
メンバーを使った処理を利用側でも書けるようになるのを防ぎたいためです。

↓のコードをビルドすると例外が発生します。
getValueメソッドを実装すると例外が発生しないことを確認しています。
[code]

[code]

### 動作環境

OS: macOS Catailna 10.15.2
JDK: openjdk 11.0.2 2019-01-15
Gradle: 5.4.1
doma2: 2.24.0

[2020-05-21 15:46] nakamura-to commented on #429
理由は2つあります。
1. リフクレションを使わずにDomaがデータを取得できるようにすため
2. Domaがデータを取得する前（SQLのバインド変数に設定する前）にメソッド内でデータ変換できるようにするため

accessorMethodは次のようにパッケージプライベートでもOKです。

[code]

publicでなければ利用側で呼び出されることは基本的にないと思いますので、これで対応いただけないでしょうか？

[2020-05-21 23:58] mahaker commented on #429
確かに、パッケージプライベートで対応できます！
回答ありがとうございました！

[2020-05-21 23:58] #429 closed

[2020-06-10 02:54] hinoko58 opened #445 "annotationProcessorについて(コンパイル時間関連)"
intellij idea,gradleによるビルド ,SpringBoot環境で利用しています。

sqlテンプレート(doma関連のソース)を変更してビルドした場合compileJavaタスクの所要時間が増えてしまいます。20秒ほど

普通のJavaソースを修正した場合は5秒以下で終わります。

調べた結果doma関連のソースを修正した場合、関連ソース(xxDaoImpl,_Entityなど)を全作成し直すことがわかりました。(多分SQLテンプレートの検証も動いているかと思います。)

もしかしたらanntationProcessorの機能ではないかもしれませんが、
なにかオプションなどを指定して(または他の方法でも)、修正があったファイルのみ再作成するようにする方法はありますでしょうか？

なにかヒントでも構いませんので、よろしくお願いいたします。

[2020-06-10 03:41] nakamura-to commented on #445
使っているDomaのバージョンはいくつですか？
最新バージョンだと問題が緩和されている可能性があります。

私の認識だと、ソースコードの生成やSQLテンプレートの検証にかかる時間は短いです。
出力されたコードにラムダ式が利用されていると時間がかかることはわかっていまして、最近ラムダ式を使わないように対応を入れました。

[2020-06-10 05:12] hinoko58 commented on #445
迅速な返信、ありがとうございます。

もしかしたら、gradleの設定が良くないかもしれませんので、一部を記載しておきます。
追加情報として本プロジェクトでは@Sqlをたくさん使っています。
よろしくお願いいたします。

`build.gradle`
[code]

生成されるEntity
[code]

[2020-06-10 09:41] nakamura-to commented on #445
Doma 2.25.1は、2.19.2以前や最新版に比べるとコンパイルが遅くなるようなコードを出力します。
最新版の2.36.0で試してもらえないでしょうか？
2.30.0からjarファイルが2つに分割されていますので、Gradleには次のように記載ください。

[code]

このバージョンでも明らかに遅いということであれば、原因を調査したいと思います。
調査前なのであくまで私の想定ですが、 `@Sql` を使うことでコンパイルが遅くなるというのはないと思っています。また、提示いただいたものを見る限りにおいてはgradleスクリプトに問題はないと思います。

[2020-06-10 10:25] hinoko58 commented on #445
ご返信、ありがとうございます。

https://github.com/domaframework/simple-boilerplate
に以下のクラス(MakeDao)を作成し、100セットのEmployee,EmployeeDao,必要なSQLを作成した後、selectById.sqlの`id = /* id */01`を`id = /* id */02`に修正してビルドしてみました。
状況は変わらず、私の環境では10秒ほどかかります。
Domaと無関係のソースを修正した場合は2秒以内でビルド完了しています。
変わったところだけを対象にannotationProcessorを走らせるのは難しそうでした。

[code]

[2020-06-10 23:16] nakamura-to commented on #445
Sync処理とは、正確にはGradleプラグインで実現しているdomaSyncResourcesJavaタスクのことですが、このタスクはcompileJavaタスクよりも **"前に"** SQLファイルをクラスパスにコピーします。
domaSyncResourcesJavaタスクを外した場合、SQLファイルはcompileJavaタスクの **"後に"** processResourcesタスクによってクラスパスにコピーされます。
したがって、どちらであってもビルド結果には修正されたSQLファイルが含まれることになります。

domaSyncResourcesJavaタスクが有効な場合、 SQLファイルの更新は `doma.sql.validation` の設定に関係なく全部のJavaクラスの再コンパイルを引き起こしますが、無効化した場合、全Javaクラスの再コンパイルはUp-to-da

[2020-06-11 01:36] hinoko58 commented on #445
とってもわかりやすく、詳細まで説明いただきありがとうございました。

@Sql,Criteria APIを優先的に使うようにします。

[2020-06-11 01:46] hinoko58 opened #446 "Criteria APIもInsrtSettingsについて"
https://doma.readthedocs.io/en/latest/criteria-api/#insert-settings-entityql-nativesql

をのサンプル(Entityql)を実行してみると

[code]

[code]
のSQLが発行されると思います。

https://github.com/domaframework/doma/blob/master/doma-core/src/main/java/org/seasar/doma/jdbc/criteria/statement/EntityqlInsertStatement.java#L44

を見るとfalse固定なっていて@Insert(excludeNull=true)
バージョンは実装されていないように思いますが、方針ということでいいでしょうか？

[2020-06-11 01:47] hinoko58 commented on #445
貴重なお時間、ありがとうございました。

[2020-06-11 02:55] nakamura-to commented on #446
ニーズがあるか分からなかったのでとりあえずは未サポートとしましたが、要望あれば対応します。

なお、今でもNativeSqlの方を使えば `null` の時は対象外にするということは条件分岐を入れれば実現できますが、少し面倒かもしれません。

[code]

[2020-06-11 04:39] hinoko58 commented on #446
迅速な回答ありがとうございます。

nativeSqlの方も見当しましたが、EntityListenerの機能がトリガーされないとの認識です。

方針ではない点理解しました。

[2020-06-11 05:02] #446 closed

[2020-06-11 09:53] nakamura-to commented on #446
確かにEntityListenerはトリガーされないですね。
`@Insert(excludeNull=true)` 相当の機能は次のバージョンで提供しようと思います。

[2020-06-11 10:15] hinoko58 commented on #446
最高です。
ありがとうございます。

[2020-08-07 09:41] quanghaouit commented on #319
I have the same problem and here that my solution for solving it
I follow this setting  https://qiita.com/mkyz08/items/57e4e1ef169d004fa0c4. We need to add doma.jar for java compiler
![settingdoma](https://user-images.githubusercontent.com/12228102/89632055-d020e980-d8cb-11ea-8df0-8a4656ce5ab2.PNG)

If error compiler appear then you just need to remove the "Excluded: **" entry from src/main/resour

[2020-08-26 03:36] hk-atm opened #537 "Update statement issued by NativeSQL causes an error in PostgreSQL"
**Describe the bug**
Criteria API NativeSQL issues the following SQL statement:
[code]
But PostgreSQL doesn't allow that a column name includes a table name in a SET clause.
see: https://www.postgresql.org/docs/current/sql-update.html

**Environment (please complete the following information):**
- Doma version or git rev: Doma 2.36

[2020-08-26 12:08] nakamura-to commented on #537
Thank you for your feedback.
I will fix this issue.

[2020-08-26 13:13] #537 closed

[2020-08-26 22:46] nakamura-to commented on #537
Try Doma 2.41.0.

[2020-08-27 02:02] hk-atm commented on #537
I tried 2.41.0 and confirmed the bug has been fixed.
Thanks!

[2020-09-05 14:25] renovate[bot] opened #547 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2020-09-09 10:03] wbprime opened #556 "NativeSql generate SQL for UPDATING causing SQL SERVER 2012 rejecting request"
**Describe the bug**

For SQL Server 2012, NativeSql generated UPDATE SQL with alias appending actual order name, causing server side request rejecting .

Following is the exception message as well as stack trace (some part):

[code]

The following SQL seems ok (with t0_ removed):

[code]

**Environment (please complete the following information):**
- Doma version or git rev: 2.41.0
- IDE version

[2020-09-09 12:32] nakamura-to commented on #556
Thanks for your feedback.
We will fix this issue.

[2020-09-09 15:06] nakamura-to commented on #556
Now NativeSql generates the following UPDATE statement for SQL server:

[code]

We tested fixed version on SQL Server 2019.
We think it also works on SQL Server 2012.

[2020-09-09 15:06] #556 closed

[2020-09-20 17:36] webfolderio opened #588 "CHANGELOG.md"
**Description**
It will be nice to add CHANGELOG.md/RELEASENOTE.md to repository.

[2020-09-20 20:05] nakamura-to commented on #588
Release notes are available [here](https://github.com/domaframework/doma/releases).
But do you want to get them as a markdown file?

[2020-09-21 17:20] webfolderio commented on #588
Thanks for the link but it might be nice to read single file and this is more SEO friendly.

[2020-09-23 13:37] #588 closed

[2020-09-23 20:51] nakamura-to commented on #588
CHANGELOG.md is now available.
We keep it in sync with the GitHub release page.

[2020-09-23 20:56] webfolderio commented on #588
This is great, thanks.

[2020-10-26 10:28] sgrit opened #620 "SQL Server MERGE statement needs an explicit ";"(semi-colon) at the end of the statement"
**Description**
In SQL Server, we can omit ";" for SELECT, UPDATE, INSERT or DELETE statement, but it looks we cannot omit ";" in MERGE statement.
SQL Server MERGE statement needs an explicit ";"(semi-colon) at the end of the statement, but it seems DOMA removes ";" in the sql file.

**Implementation ideas**
";" at the end of file should retain (for SQL Server's MERGE statement) instead of removin

[2020-10-26 11:49] #620 closed

[2020-10-26 11:50] nakamura-to commented on #620
Thanks for your detailed feedback!
We fixed this issue.

[2020-11-04 05:22] wbprime opened #627 "[BUG] NativeSql DSl returning wrong type for Optional properties on selecting"
**Describe the bug**
Given entity class:

[code]

and invoking case:

[code]

The real type of `latestUpdateTime` is `Optional<Optional<LocalDateTime>>`.  e.g., when no records found in db, `Optional.of(Optional.empty())` is returned. So it will cause ClassCast exception when using that var.

**Expected behavior**
The real type of `latestUpdateTime` is `Optional<LocalDateTime>`. e.g., when no reco

[2020-11-04 12:15] nakamura-to commented on #627
Thanks for your detailed feedback.
I'll investigate it.

[2020-11-04 14:53] #627 closed

[2020-11-04 22:31] nakamura-to commented on #627
We fixed this bug.
Try Doma 2.44.2.

[2020-12-08 08:58] twan65 opened #637 "@infix()について"
いつもお世話になっております。
プロジェクトを行っているうえで、Likeで@infix(パラメータ)を使っていますが、
DBの値が「％」となっておりパラメータ=％の場合、ヒットされないですが、ほかの設定などが必要でしょうか？
DBツールで「LIKE　'%%%'」で実行するとヒットします。

エスケープされるためでしょうか？
そうならば、エスケープを無効にする方法などもありますでしょうか？

お忙しいところ、すみませんが、
ご確認のほど、よろしくお願いいたします。

[2020-12-08 10:35] twan65 commented on #637
こちら、2番目のパラメータとして'%'を渡したら行けました。
ありがとうございます。

[2020-12-08 10:35] #637 closed

[2021-01-04 10:09] orekyuu opened #641 "Feature request: Add named expression"
**Description**
For example, it is not DRY to write the condition that you are over 18 years old with multiple SQLs as follows.

example:
[code]

When using Eintityql, the age condition is defined by the following static factory method.

[code]

I want to define methods in the Criteria API instead of mass-producing factory methods.

**Implementation ideas**
How about delegate from a generated clas

[2021-01-04 10:11] orekyuu commented on #641
If there is no problem with the idea, I would like to implement it. 😃

[2021-01-04 13:33] nakamura-to commented on #641
Thanks for your request.
Your idea is exciting!

How about enhancing the `@Metamodel` annotation instead of introducing the `@Scope` annotation.

[code]

[2021-01-04 13:59] orekyuu commented on #641
Thanks.
I will implement it with that plan.

[2021-01-04 14:27] nakamura-to commented on #641
If you have any questions, feel free to contact us.
You can use our [chatroom](https://domaframework.zulipchat.com/).

[2021-01-21 13:02] renovate[bot] opened #645 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:38] #645 closed

[2021-01-24 08:26] #641 closed

[2021-02-17 13:22] dtha1002 opened #657 "Nested Entity classes"
I am beginner with Doma and Spring Boot. So, sorry for my mistake.
I have 2 entities to map SQL's result. I want to nest entities as below:

**UserEntity Class**
[code]

**GroupEntity Class**
[code]

Error: List<UserEntity> is not supported as a persistent type. If you intend to map the class to the external domain class with @ExternalDomain, the configuration may be not enough. Check the class an

[2021-02-17 22:50] nakamura-to commented on #657
Hi.

Use `org.seasar.doma.Transient` annotation as follows:

[code]

You can find sample code in the [spring-boot-jpetstore](https://github.com/domaframework/spring-boot-jpetstore) repository.

Entity definition:
https://github.com/domaframework/spring-boot-jpetstore/blob/b364d898544743d7891656617158efd4c3a0bdc3/src/main/java/sample/entity/Order.java#L84

Query:
https://github.com/domaframework/sp

[2021-02-18 01:52] dtha1002 commented on #657
It works very well.
I have found a very helpful article of you.
https://qiita.com/nakamura-to/items/b16cbed6edc2b7aaac47

Thank you very much for your help!

[2021-02-18 02:24] #657 closed

[2021-04-09 01:06] lunch2000 opened #679 "SelectBuilder以外にもparams メソッドと literals メソッドを追加"
表題の通り、`InsertBuilder` `UpdateBuilder` `DeleteBuilder` にも `params` メソッドと `literals` メソッドを追加する予定はないでしょうか。

[2021-04-09 03:32] nakamura-to commented on #679
ニーズがあるとは想定していなかったので予定はないです。
追加を希望されていると言うことでしょうか？
もし希望されるならどのような背景で必要としているのか聞いてみたいです。

[2021-04-09 03:41] lunch2000 commented on #679
はい。追加を希望しています。

[code]

のようなクエリを組み立てるときに、paramsがあると助かるんです。
updateやdeleteの条件も同様です。

[2021-04-11 23:54] #679 closed

[2021-05-23 17:22] x80486 opened #693 "Support java.time.Instant and java.util.UUID types"
## Description

While testing `Doma` (and using `java.time.Instant` and/or `java.util.UUID` types) I'm always getting error messages like:

[code]

I think these two should be supported out-of-the-box by the framework since they are used widely for `id` and `timestamp` fields.

## Implementation Ideas

N/A

[2021-05-24 12:20] nakamura-to commented on #693
Thanks for your feedback!

We don't support `java.time.Instant` and `java.util.UUID` currently because the JDBC specification does not support them.
To support them, we need our own code for each JDBC driver.

We understand that there are situations where you want to use `java.util.UUID`.

However, we don't know when to use `java.time.Instant`, because you can use more specific types such as `java

[2021-05-26 06:26] gikeihi opened #694 "一つ項目を抽出して、かつこの項目がNULLの場合、取得できません。"
**Description**
Criteria APIを利用して、一つ項目を取得する場合、この項目がNULLの場合、
fetchOptional、fetchOneを利用してもエラーになります。
fetch利用すると、実は１レコードを取得しています、ただレコードの値はNULLです。
例：
条件に当てはまるレコードがない場合、下記すべてはNullPointerException
①
[code]
②
[code]
暫定としては下記のように解決していますが、あまりよくないと思います。
[code]

[2021-05-26 12:28] nakamura-to commented on #694
フィードバックありがとうございます。修正して2.46.2をリリースしました。
https://github.com/domaframework/doma/releases/tag/2.46.2

[2021-09-08 04:24] schwarzahl opened #717 "( is missing when generating insert sql into auto_increment column only table"
**Describe the bug**

table sample is only auto_increment column
[code]

this is insert sql generated by doma
`insert into sample) values)`

left parentheses is missing

**Expected behavior**

doma generate
`insert into sample () values ()`

**Actual behavior**

doma generate
`insert into sample) values)`

**To Reproduce**
Steps to reproduce the behavior:
1. create auto_increment only table
[code]

[2021-09-10 01:58] hk-atm opened #720 "Some NativeSQL set queryTimeout to fetchSize"
**Describe the bug**
I found that queryTimeout values is set to fetchSize at:

- org.seasar.doma.jdbc.criteria.statement.NativeSqlSetTerminal#createCommand
- org.seasar.doma.jdbc.criteria.statement.NativeSqlSelectTerminal#createCommand

I just investigate the source code, but didn't test it.

**Environment (please complete the following information):**
- Doma version or git rev: 2.47.1

[2021-09-10 23:08] #720 closed

[2021-09-11 00:38] #717 closed

[2021-09-11 00:43] nakamura-to commented on #717
Thanks for your feedback!

[2021-09-11 00:43] nakamura-to commented on #720
Thanks for your feedback!

[2021-09-15 02:13] schwarzahl commented on #717
Thank you!

[2021-09-15 03:56] xweiqingfei1 opened #728 "Criteria Apiについて、leftJoinの条件の書き方"
Criteria Apiを追加って下記のようなSQLはどうやって書きますか？
[code]
entityql.from(a).leftJoin(b, on->{
  on.eq(b.col1, a.col1)
  on.isNotNull(b.col2)                //<-このメソッドが存在しないです。
})

暫定対応はSQLを変更して、subqueryでやらないといけないらしいです。
[code]
ネットでいろいろ調べましたが、解決方法を見つけませんでした。

[2021-09-15 09:58] nakamura-to commented on #728
フィードバックありがとうございます。

今はON句で`isNull`や`isNotNull`をサポートしていませんが、次のバージョンでサポート予定です。
次のように記述できるようにします。

[code]

[2021-09-15 11:23] #728 closed

[2021-09-17 01:15] gikeihi commented on #728
ありがとうございます。

[2021-09-20 14:12] gikeihi opened #736 "left joinについて"
**Description**
下記の対応、ありがとうございました。
[Support isNull and isNotNull predicates in ON clause of Criteria API](https://github.com/domaframework/doma/pull/729)
よく考えると、ON clauseはwhere clauseとあまり変わらないではないかと思います。
inner joinはjoin対象テーブルの条件はONの代わりに、Whereに入れても大丈夫ですが、
left outer joinの場合、join対象テーブルの条件は必ずONに入れないといけないですよね。
例えば
[code]

[2021-09-21 12:32] nakamura-to commented on #736
そうですね。inner joinの場合は条件をon句に指定してもwhere句に指定しても結果は変わらないですが、left joinの場合は結果が変わりますね（on句に指定したい場合がありますね）。

ところで、このissueは不具合の報告ではないということでよろしいでしょうか？意見交換や議論についてはオリジナルのissueである #728 のコメント欄か [discussions](https://github.com/domaframework/doma/discussions) を活用できればと思っています 😃

[2021-09-22 01:16] gikeihi commented on #736
そうですよね。
`Bug report`ではなく、`Feature request`です。

[2021-09-23 05:57] gikeihi commented on #736
`「on句でwhere句と同様に様々な条件を指定できるようにしてほしい」`
はい、そういうことです。
上記の例は説明するため、書いた極める複雑なSQL、実際はあまりないと思います。

実際は、下記のような仕様があります。
テーブルAには、「部署ID」という項目があります、ただ必要ではありません。
なお、部署マスタテーブル「MS_DEPT」には、有効開始日、有効終了日があります。
例：
部署ID　有効開始日　有効終了日　部署名
0001       2020/1/1       2020/12/31    部署名A
0001       2021/1/1       2021/12/31    部署名B

テーブルAの一覧を取得するとき（部署名を含む）、SQLは下記のようになります。
[code]

[2021-09-24 03:40] #736 closed

[2021-09-24 03:42] nakamura-to commented on #736
次のバージョンで、今のwhere句で指定できる条件と同等のものをon句でも指定できるようにしたいと思います。

[2021-09-24 07:28] gikeihi commented on #736
早速のご対応、ありがとうございました！

[2021-12-19 23:25] igibek opened #785 "[Security] Workflow gradle-wrapper-validation.yml is using vulnerable action gradle/wrapper-validation-action"
The workflow gradle-wrapper-validation.yml is referencing action gradle/wrapper-validation-action using references v1. However this reference is missing the commit [89eda1fdc0167f59521d2bb10767f7169fb4d018](https://github.com/gradle/wrapper-validation-action/commits/89eda1fdc0167f59521d2bb10767f7169fb4d018) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by a

[2022-05-12 03:01] nologyance opened #838 "Missing limit, offset words when select with top level `WITH` word"
**Describe the bug**
Missing limit, offset words when select with top level `WITH` word although we pass argument `SelectOption` instance to Dao method.

like below

[code]
[code]

[code]

According to [doc](https://doma.readthedocs.io/en/2.51.1/query/select/#paging)

[code]
We guess that these are not including top level `WITH` word.

**Expected behavior**
Generated sql has `limit 15`, `offset 0`

[2022-05-12 10:04] nakamura-to commented on #838
I could not reproduce it.
Please make sure you are using `org.seasar.doma.jdbc.dialect.PostgresDialect`.
If possible, could you please share a reproducible project?

[2022-05-13 02:44] nologyance commented on #838
We found additional condition that `with` statement is in `if~end` and condition is evaluated `false`.

[code]

When these isn't `if~end` statement or condition is evaluated `true`, we can  get expected behavior.

We want to make the simple example, but it takes us a long time, sorry.

[2022-05-14 03:10] #838 closed

[2022-05-14 03:17] nakamura-to commented on #838
I fixed this issue.
The next version will include the fix.

[2022-05-14 06:18] nologyance commented on #838
Thank you for your nice job. 👍

[2022-07-15 02:48] sa-kaw opened #859 "Criteria APIにて、タプルを使ったIN述語を3項目以上で使用する方法を教えてほしい"
Java17でPostgreSQL 12へのDBアクセスをするために、
バージョン`2.51.1`のDomaでCriteria APIを使用しています。

3項目以上の複合主キーを持ったテーブルをselectする際に、
[code]
のようなSQLを発行したいと思っています。

[Doma入門 - Criteria API チートシート](https://qiita.com/nakamura-to/items/04def9dc3d218d50c71f#in:~:text=t0_.age%20in%20(%3F%2C%20%3F)-,%E3%82%BF%E3%83%97%E3%83%AB%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%9FIN%E8%BF%B0%E8%AA%9E%E3%80%82,-entityql.from)の`タプルを使ったIN述語`で例示されているコ

[2022-07-15 02:54] mazeneko opened #860 "Criteria APIにて、タプルを使ったIN述語を3項目以上で使用する方法を教えてほしい"
Java17でPostgreSQL 12へのDBアクセスをするために、 バージョン`2.51.1`のDomaでCriteria APIを使用しています。

3項目以上の複合主キーを持ったテーブルをselectする際に、

[code]

のようなSQLを発行したいと思っています。

[Doma入門 - Criteria API チートシート](https://qiita.com/nakamura-to/items/04def9dc3d218d50c71f#in:~:text=t0_.age%20in%20(%3F%2C%20%3F)-,%E3%82%BF%E3%83%97%E3%83%AB%E3%82%92%E4%BD%BF%E3%81%A3%E3%81%9FIN%E8%BF%B0%E8%AA%9E%E3%80%82,-entityql.from)の`タプルを使ったIN述語`で例示されてい

[2022-07-15 03:00] sa-kaw commented on #859
すみません、#860 で重複して投稿してしまったためクローズします。

[2022-07-15 03:00] #859 closed

[2022-07-15 14:04] nakamura-to commented on #860
残念ながら現在サポートしているのは`Tuple2`のみです。
3項目以上を受け取るIN句をCriteria APIで生成することはできないです。

[2022-07-16 03:11] nakamura-to commented on #860
補足すると、IN句に相当する条件をOR句を使って表現することはできます。
次のように別メソッドに定義して再利用してもいいかもしれません。

3項目のIN句をエミュレートするメソッド:
[code]

呼び出し側:
[code]

[2022-07-16 16:36] mazeneko commented on #860
解説ありがとうございます。
IN句は使用せずに代替の方法を使用することにします。

余談ですが、
やりたかったことは複合主キーのテーブルからのID指定でのレコード取得でしたので、
例示していただいていたソースとは違って
[code]
のように実装しました。

[2022-07-16 23:00] #860 closed

[2022-08-02 03:10] h-yokoyama opened #866 "MySQLでSelectOptioinsでlimit 0を指定するとlimit 0, 18446744073709551615のSQLが作成される"
**Describe the bug**
Daoインターフェースで@SelectでSelectOptionsを検索をしています。
`limit 0`を指定すると生成されるSQLが`limit 0, 18446744073709551615`となります。

サンプルコード
[code]
[code]
MySQLの[ドキュメント](https://dev.mysql.com/doc/refman/5.6/ja/select.html)によるとlimit句に指定できる数値は`どちらも負ではない整定数である必要があります。`(実際に `select * from hoge limit 0, 0`のSQLはMySQLでは実行可能)とのことですので、limit 0を指定できるようにご検討いただけませんでしょうか。もしくはlimit 0の場合にlimitの上限を変換している意図がございましたらご教示いた

[2022-08-02 13:49] nakamura-to commented on #866
Oracle DatabaseやSQL Serverなど他のデータベースと挙動を合わせるためです。これらのデータベースではMySQLの`limit 0`に相当する挙動が定義されていないので、Domaでは`limit 0`は全件取得と同じ挙動をとるように調整されています。

この挙動に依存しているアプリがあるかもしれないので、もし対応するにしても互換性の維持は重要視したいと考えています。

### ワークアラウンドの案

`limit 0`を許容したいのは空の結果セットを得たいからだと想像します。 `limit`に渡す値で条件分岐して値が`0`のときはSQLのWHERE句が `WHERE 1 = 0` のようになるように調整していただければ期待する結果を得られると思います。

[2022-08-03 01:57] h-yokoyama commented on #866
こちら回答いただきありがとうございます。理解いたしました。
提示いただいたワークアラウンド案での検討をしたいと思います。

[2022-08-06 09:12] mazeneko opened #869 "Criteria APIでページングを実装するときに絞り込み前の総件数を取得する方法を教えてほしい"
Criteria APIを使った検索でページングを実装しようと思っており、
ページごとの件数でlimitをかける前の総件数を取得しようとしています。

SQLファイルでDAOを生成する場合は[SelectOptionsを使った方法](https://doma.readthedocs.io/en/2.52.0/query/select/#aggregate)で取得できると思うのですが、
Criteria APIで同じようなことをする方法はありますか？

（下記のようにデータ取得とは別で件数の取得もするのが順当でしょうか？）
[code]

[2022-08-07 13:46] nakamura-to commented on #869
Criteria APIでは記載いただいたように別のクエリを投げる必要があります。

[2022-08-07 13:48] #866 closed